/* ======== START - Colors ========================================================================================== */
:root {
    --color-1: #FFFFFF;
    --color-2: #D1F0FF;
    --color-3: #A8D7F6;
    --color-4: #59A5D8;
    --color-5: #386FA4;
    --color-6: #133C55;


    // font




    // background




    // border



}
/* ======== END - Colors ============================================================================================ */





