/* ======== START - Colors ========================================================================================== */
:root {

    // list of all colors
    --color-1: #FFFFFF;
    --color-2: #D1F0FF;
    --color-3: #A8D7F6;
    --color-4: #59A5D8;
    --color-5: #386FA4;
    --color-6: #133C55;


    // background
    --bg-1: #D1F0FF;
    --bg-2: #59A5D8;
    --bg-3: #FFFFFF;
    --bg-4: #386FA4;
    --bg-5: #FFFFFF; // код цвета повторяется, тк нужна уникальная переменная


    // font
    --fn-1: #59A5D8;
    --fn-2: #133C55;
    --fn-3: #FFFFFF;
    --fn-4: #386FA4;
    --fn-5: #A8D7F6;


    // border
    --br-1: #59A5D8;
    --br-2: #FFFFFF;
    --br-3: #D1F0FF;
    --br-4: #A8D7F6;
    --br-5: #386FA4;
}
/* ======== END - Colors ============================================================================================ */





