/* ======== START - Colors ========================================================================================== */
:root {
    --color-1: #F8F9FA;
    --color-2: #CED4DA;
    --color-3: #6C757D;
    --color-4: #212529;

    // background
    --bg-1: #212529;
    --bg-2: #6C757D;
    --bg-3: #CED4DA;
    --bg-4: #212529;
    --bg-5: #212529; // код цвета повторяется, тк нужна уникальная переменная


    // font
    --fn-1: #59A5D8;
    --fn-2: #133C55;
    --fn-3: #FFFFFF;
    --fn-4: #386FA4;
    --fn-5: #A8D7F6;


    // border
    --br-1: #59A5D8;
    --br-2: #FFFFFF;
    --br-3: #D1F0FF;
    --br-4: #A8D7F6;
    --br-5: #386FA4;
}
/* ======== END - Colors ============================================================================================ */