/* ======== START - Colors ========================================================================================== */
:root {
    --color-1: #F8F9FA;
    --color-2: #CED4DA;
    --color-3: #6C757D;
    --color-4: #212529;
}
/* ======== END - Colors ============================================================================================ */