/* ======== START - Elements ======================================================================================== */
/* ======== START - Title =========================================================================================== */
.section-title {
    margin: 140px 0 90px 0;
    height: 110px;
    display: block;
}

.section-title__description {
    margin: 0 0 6px 18px;
    padding: 0;
    display: block;
    color: var(--fn-1);

    > p {
        margin: 0;
        display: block;
        font-family: "Poppins Regular", serif;
        font-size: 14px;
        line-height: 24px;
    }
}

// [APP.JS], width
.section-title__heading {
    margin: 12px 0 0 0;
    display: inline-block;
    position: absolute;
    z-index: 20;
    border-radius: 10px;
    padding: 12px 22px 10px 22px;
    background-color: var(--bg-2);
    color: var(--fn-3);

    > h1 {
        margin: 0;
        display: block;
        font-family: "Poppins Bold", serif;
        font-size: 38px;
        text-transform: uppercase;
    }
}

@media (max-width: 576px) {
    .section-title__heading {
        > h1 {
            font-size: 28px;
        }
    }
}

// [APP.JS], width
.section-title__border {
    margin: 0 0 0 12px;
    display: inline-block;
    position: absolute;
    z-index: 10;
    border-radius: 10px;
    border: solid 3px var(--br-4);
}

.section-title--indent {
    margin: 140px 0 60px 0;
}

.section-title--indent-2 {
    margin: 140px 0 30px 0;
}
/* ======== END - Title ============================================================================================= */


/* ======== START - Subtitle ======================================================================================== */
.subtitle {
    > h2 {
        margin: 0;
        display: block;
        font-family: "Poppins Bold", serif;
        font-size: 24px;
        color: var(--fn-4);
    }
}

.subtitle--indent {
    margin: 90px 0 0 0;
}
/* ======== END - Subtitle ========================================================================================== */


/* ======== START - Breadcrumbs ===================================================================================== */
.path {
    display: block;
    margin: 0 0 48px 0;
}

.path--indent {
    margin: 114px 0 0 0;
}

.path__list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
}

.path__item {
    font-family: "Poppins Regular", serif;
    font-size: 14px;
    color: var(--fn-1);


    > a {
        font-family: "Poppins SemiBold", serif;
        font-size: 14px;
        text-decoration: none;
        color: var(--fn-1);
    }

    &:nth-child(n+2):before {
        content: "/";
        margin: 0 8px 0 8px;
    }
}

.path-hr {
    margin: 348px 0 0 0;
    position: absolute;
    border-color: var(--br-1);
    border-style: solid;
    width: 100%;
}

.path-hr-2 {
    margin: 184px 0 0 0;
    position: absolute;
    border-color: var(--br-1);
    border-style: solid;
    width: 100%;
}
/* ======== END - Breadcrumbs ======================================================================================= */


/* ======== START - Buttons ========================================================================================= */
// ======== START - .btn-icon (.nav-right) =============================================================================
.btn-icon {
    display: block;
    border: none;
    outline: none;
    background: transparent;
    transition: color 0.3s linear;

    &:hover {
        cursor: pointer;
    }

    > svg {
        width: 32px;
        height: 32px;
    }

    > span {
        font-size: 32px;
    }
}

.btn-icon--light {
    color: var(--fn-3);

    &:hover {
        color: var(--fn-2);
    }
}

.btn-icon--dark {
    color: var(--fn-1);

    &:hover {
        color: var(--fn-2);
    }
}
// ======== END - .btn-icon (.nav-right) ===============================================================================


// ======== START - .btn-full ==========================================================================================
.btn-full {
    padding: 10px 20px;
    border-width: 0;
    background-color: var(--bg-2);
    border-radius: 10px;
    font-family: "Poppins SemiBold", serif;
    font-size: 14px;
    color: var(--fn-3);
    transition: background-color 0.3s linear;

    &:hover {
        background-color: var(--bg-4);
    }
}
// ======== END - .btn-full ============================================================================================


// ======== START - .btn-light =========================================================================================
.btn-light {
    padding: 8px 20px;
    border: var(--br-1) solid 2px;
    border-radius: 10px;
    font-family: "Poppins SemiBold", serif;
    font-size: 14px;
    color: var(--fn-1);
    transition: color 0.3s linear, border-color 0.3s linear;

    &:hover {
        color: var(--fn-4);
        border-color: var(--br-5);
    }

    &:active {
        color: var(--fn-1);
        border-color: var(--br-1);
    }
}
// ======== END - .btn-light ===========================================================================================


// ======== START - .btn-arrow ========================================================================================
.btn-arrow {
    padding: 0;
    display: inline-block;
    position: relative;
    font-family: "Poppins Bold", serif;
    font-size: 14px;
    transition: color 0.3s linear;
    color: var(--fn-4);
    background-color: transparent;
    border: none;

    &:hover {
        color: var(--fn-2);
        text-decoration: none;

        > span {
            color: var(--fn-2);
            animation-name: lnord;
            animation-duration: 0.7s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: ease-in-out;
        }
    }

    > span {
        margin: 3px 0 0 2px;
        position: absolute;
        display: inline-block;
        font-size: 15px;
        color: var(--fn-4);
    }

    @keyframes lnord {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(6px);
        }
    }
}
// ======== END - .btn-arrow ==========================================================================================


// ======== START - .btn-filter ========================================================================================
.btn-filter {
    font-family: "Poppins SemiBold", serif;
    font-size: 14px;
    transition: color 0.3s linear;
    color: var(--fn-1);
    background-color: transparent;
    border: none;

    &:hover {
        color: var(--fn-2);
    }
}

.btn-filter--active {
    color: var(--fn-2);
    border: none;
    outline: none;
}
// ======== END - .btn-filter ==========================================================================================
/* ======== END - Buttons =========================================================================================== */


/* ======== START - Copyright ======================================================================================= */
.copyright {
    margin: 0;
    display: block;
    font-family: "Poppins SemiBold", serif;
    font-size: 14px;
    color: var(--fn-1);
}

.copyright--white {
    color: var(--fn-3);
}

.social-link {
    margin: 0;
    padding: 0;
    display: block;
}

.social-link__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;

    > li:nth-child(n+2) {
        margin: 0 0 0 8px;
    }
}

.social-link__item {
    > span {
        margin: 0;
        padding: 0;
        color: var(--fn-1);
        font-size: 24px;
    }

    &:hover {
        text-decoration: none;

        > span {
            color: var(--fn-4);
        }
    }
}

.social-link--white {
    > span {
        margin: 0;
        padding: 0;
        color: var(--fn-3);
        font-size: 24px;
    }
}
/* ======== END - Copyright ========================================================================================= */


/* ======== START - Owl Carousel ==================================================================================== */
.owl-dots {
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.owl-dot {
    > button {
        width: 50px;
        height: 12px;
        display: block;
        border: solid 2px var(--br-1);
        background: var(--bg-3);
        border-radius: 6px;
    }

    &:nth-child(n+2) {
        margin: 0 0 0 10px;
    }
}

.active {
    > button {
        background: var(--bg-2);
    }
}
/* ======== END - Owl Carousel ====================================================================================== */


/* ======== START - Website Preloader =============================================================================== */
// ======== START - Website Preloader (#preloader, body) ===============================================================
#preloader {
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    background-color: var(--bg-1);
    z-index: 300;
}

#pg1 {
    overflow:  hidden;
}
// ======== END - Website Preloader (#preloader, body) =================================================================


// ======== START - Animation (.mk-spinner-wrap, .mk-spinner-wrap) =====================================================
*,:after,:before{
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
.mk-spinner-wrap{
    min-height:100px;
    width:100%;
    position:relative
}
@-webkit-keyframes a{
    0%{
        -webkit-transform:scale(.9);
        transform:scale(.9)
    }
    to{
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes a{
    0%{
        -webkit-transform:scale(.9);
        transform:scale(.9)
    }
    to{
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@-webkit-keyframes b{
    0%{
        -webkit-transform:scale(.9);
        transform:scale(.9)
    }
    to{
        -webkit-transform:scale(4);
        transform:scale(4)
    }
}
@keyframes b{
    0%{
        -webkit-transform:scale(.9);
        transform:scale(.9)
    }
    to{
        -webkit-transform:scale(4);
        transform:scale(4)
    }
}
.mk-spinner-ripple:after,.mk-spinner-ripple:before{
    content:"";
    display:inline-block;
    position:absolute;
    width:20px;
    height:20px;
    top:50%;
    margin-top:-10px;
    left:50%;
    margin-left:-10px;
    z-index:1;
    border-radius:50%
}
.mk-spinner-ripple:before{
    background:var(--bg-2);
    -webkit-animation:a 1s infinite .5s;
    animation:a 1s infinite .5s
}
.mk-spinner-ripple:after{
    background:var(--bg-3);
    z-index:0;
    -webkit-transform:scale(3);
    transform:scale(3);
    -webkit-animation:b 1s infinite .5s;
    animation:b 1s infinite .5s
}
// ======== END - Animation (.mk-spinner-wrap, .mk-spinner-wrap) =======================================================
/* ======== END - Website Preloader ================================================================================= */
/* ======== END - Elements ========================================================================================== */