/* ======== START - Elements ======================================================================================== */
/* ======== START - Title =========================================================================================== */
.section-title {
    margin: 140px 0 90px 0;
    height: 110px;
    display: block;
}

.section-title__description {
    margin: 0 0 6px 18px;
    padding: 0;
    display: block;
    color: var(--color-4);

    > p {
        margin: 0;
        display: block;
        font-family: "Poppins Regular", serif;
        font-size: 14px;
        line-height: 24px;
    }
}

// [APP.JS], width
.section-title__heading {
    margin: 12px 0 0 0;
    display: inline-block;
    position: absolute;
    z-index: 20;
    border-radius: 10px;
    padding: 12px 22px 10px 22px;
    background-color: var(--color-4);
    color: var(--color-1);

    > h1 {
        margin: 0;
        display: block;
        font-family: "Poppins Bold", serif;
        font-size: 38px;
        text-transform: uppercase;
    }
}

@media (max-width: 576px) {
    .section-title__heading {
        > h1 {
            font-size: 28px;
        }
    }
}

// [APP.JS], width
.section-title__border {
    margin: 0 0 0 12px;
    display: inline-block;
    position: absolute;
    z-index: 10;
    border-radius: 10px;
    border: solid 3px var(--color-3);
}

.section-title--indent {
    margin: 140px 0 60px 0;
}

.section-title--indent-2 {
    margin: 140px 0 30px 0;
}
/* ======== END - Title ============================================================================================= */


/* ======== START - Subtitle ======================================================================================== */
.subtitle {
    > h2 {
        margin: 0;
        display: block;
        font-family: "Poppins Bold", serif;
        font-size: 24px;
        color: var(--color-5);
    }
}

.subtitle--indent {
    margin: 90px 0 0 0;
}
/* ======== END - Subtitle ========================================================================================== */


/* ======== START - Breadcrumbs ===================================================================================== */
.path {
    display: block;
    margin: 0 0 48px 0;
}

.path--indent {
    margin: 114px 0 0 0;
}

.path__list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
}

.path__item {
    font-family: "Poppins Regular", serif;
    font-size: 14px;
    color: var(--color-4);


    > a {
        font-family: "Poppins SemiBold", serif;
        font-size: 14px;
        text-decoration: none;
        color: var(--color-4);
    }

    &:nth-child(n+2):before {
        content: "/";
        margin: 0 8px 0 8px;
    }
}

.path-hr {
    margin: 348px 0 0 0;
    position: absolute;
    border-color: var(--color-4);
    border-style: solid;
    width: 100%;
}

.path-hr-2 {
    margin: 184px 0 0 0;
    position: absolute;
    border-color: var(--color-4);
    border-style: solid;
    width: 100%;
}
/* ======== END - Breadcrumbs ======================================================================================= */


/* ======== START - Buttons ========================================================================================= */
// ======== START - .btn-icon (.nav-right) =============================================================================
.btn-icon {
    display: block;
    border: none;
    outline: none;
    background: transparent;
    transition: color 0.3s linear;

    &:hover {
        cursor: pointer;
    }

    > svg {
        width: 32px;
        height: 32px;
    }
}

.btn-icon--white {
    color: var(--color-1);

    &:hover {
        color: var(--color-6);
    }
}

.btn-icon--dark {
    color: var(--color-4);

    &:hover {
        color: var(--color-6);
    }
}
// ======== END - .btn-icon (.nav-right) ===============================================================================


// ======== START - .btn-full ==========================================================================================
.btn-full {
    height: 40px;
    padding: 8px 20px;
    border-width: 0;
    background-color: var(--color-4);
    border-radius: 10px;
    font-family: "Poppins SemiBold", serif;
    font-size: 14px;
    color: var(--color-1);
    transition: background-color 0.3s linear;

    &:hover {
        background-color: var(--color-5);
    }
}

// ======== END - .btn-full ============================================================================================


// ======== START - .btn-light =========================================================================================
.btn-light {
    height: 40px;
    padding: 8px 20px;
    border: var(--color-4) solid 2px;
    border-radius: 10px;
    font-family: "Poppins SemiBold", serif;
    font-size: 14px;
    color: var(--color-4);
    transition: color 0.3s linear, border-color 0.3s linear;

    &:hover {
        color: var(--color-5);
        border-color: var(--color-5);
    }

    &:active {
        color: var(--color-4);
        border-color: var(--color-4);
    }
}

// ======== END - .btn-light ===========================================================================================


// ======== START - .btn-arrow ========================================================================================
.btn-arrow {
    padding: 0;
    display: inline-block;
    position: relative;
    font-family: "Poppins Bold", serif;
    font-size: 14px;
    transition: color 0.3s linear;
    color: var(--color-5);
    background-color: transparent;
    border: none;

    &:hover {
        color: var(--color-6);
        text-decoration: none;
    }

    > svg {
        width: 12px;
        height: 12px;
        margin-top: -2px;
    }

    &:hover {
        svg {
            animation-name: lnord;
            animation-duration: 0.7s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: ease-in-out;
            fill: var(--color-6);
        }
    }

    @keyframes lnord {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(6px);
        }
    }
}

// ======== END - .btn-arrow ==========================================================================================


// ======== START - .btn-filter ========================================================================================
.btn-filter {
    font-family: "Poppins SemiBold", serif;
    font-size: 14px;
    transition: color 0.3s linear;
    color: var(--color-4);
    background-color: transparent;
    border: none;

    &:hover {
        color: var(--color-6);
    }
}

.btn-filter--active {
    color: var(--color-6);
    border: none;
    outline: none;
}

// ======== END - .btn-filter ==========================================================================================
/* ======== END - Buttons =========================================================================================== */


/* ======== START - Copyright ======================================================================================= */
.copyright {
    margin: 0;
    display: block;
    font-family: "Poppins SemiBold", serif;
    font-size: 14px;
    color: var(--color-4);
}

.copyright--white {
    color: var(--color-1);
}

.social-link {
    margin: 0;
    padding: 0;
    display: block;
}

.social-link__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;

    > li:nth-child(n+2) {
        margin: 0 0 0 8px;
    }
}

.social-link__item svg {
    width: 24px;
    height: 24px;
}
/* ======== END - Copyright ========================================================================================= */


/* ======== START - Owl Carousel ==================================================================================== */
.owl-dots {
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.owl-dot {
    > button {
        width: 50px;
        height: 12px;
        display: block;
        border: solid 2px var(--color-4);
        background: var(--color-1);
        border-radius: 6px;
    }

    &:nth-child(n+2) {
        margin: 0 0 0 10px;
    }
}

.active {
    > button {
        background: var(--color-4);
    }
}
/* ======== END - Owl Carousel ====================================================================================== */
/* ======== END - Elements ========================================================================================== */