/* ======== START - Website Preloader (#preloader, body) ============================================================ */
#preloader {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  background-color: var(--color-2);
  z-index: 300;
}

#pg1 {
  overflow:  hidden;
}
/* ======== END - Website Preloader (#preloader, body) ============================================================== */


/* ======== START - Animation (.mk-spinner-wrap) ==================================================================== */

*,:after,:before{
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}
.mk-spinner-wrap{
  min-height:100px;
  width:100%;
  position:relative
}
@-webkit-keyframes a{
  0%{
    -webkit-transform:scale(.9);
    transform:scale(.9)
  }
  to{
    -webkit-transform:scale(1);
    transform:scale(1)
  }
}
@keyframes a{
  0%{
    -webkit-transform:scale(.9);
    transform:scale(.9)
  }
  to{
    -webkit-transform:scale(1);
    transform:scale(1)
  }
}
@-webkit-keyframes b{
  0%{
    -webkit-transform:scale(.9);
    transform:scale(.9)
  }
  to{
    -webkit-transform:scale(4);
    transform:scale(4)
  }
}
@keyframes b{
  0%{
    -webkit-transform:scale(.9);
    transform:scale(.9)
  }
  to{
    -webkit-transform:scale(4);
    transform:scale(4)
  }
}
.mk-spinner-ripple:after,.mk-spinner-ripple:before{
  content:"";
  display:inline-block;
  position:absolute;
  width:20px;
  height:20px;
  top:50%;
  margin-top:-10px;
  left:50%;
  margin-left:-10px;
  z-index:1;
  border-radius:50%
}
.mk-spinner-ripple:before{
  background:var(--color-4);
  -webkit-animation:a 1s infinite .5s;
  animation:a 1s infinite .5s
}
.mk-spinner-ripple:after{
  background:var(--color-1);
  z-index:0;
  -webkit-transform:scale(3);
  transform:scale(3);
  -webkit-animation:b 1s infinite .5s;
  animation:b 1s infinite .5s
}
/* ======== END - Animation (.mk-spinner-wrap) ====================================================================== */
