// START - test --------------------------------------------------------------------------------------------------------
.link{
    display: block;
    > .linkname {
        font-family: "Poppins SemiBold", serif;
        font-size: 14px;
        transition: color 0.3s linear;
        color: var(--color-4);
        text-decoration: none;

        &:hover {
            color: var(--color-6);
            text-decoration: none;
        }
    }
}
// END - test ----------------------------------------------------------------------------------------------------------