// -------- START - test -----------------------------------------------------------------------------------------------
.link {
    display: block;

    > .linkname {
        font-family: "Poppins SemiBold", serif;
        font-size: 14px;
        transition: color 0.3s linear;
        color: var(--color-4);
        text-decoration: none;

        &:hover {
            color: var(--color-6);
            text-decoration: none;
        }
    }
}

.link-big {
    display: block;

    > .linkname {
        font-family: "Poppins Medium", serif;
        font-size: 18px;
        color: var(--color-1);
        transition: color 0.3s linear;
        text-decoration: none;

        &:hover {
            color: var(--color-6);
            text-decoration: none;
        }
    }
}

.btn-icon {
    display: block;
    color: var(--color-1);
    border: none;
    outline: none;
    background: transparent;
}




.name-section {
    display: block;

    > .description {

    }
    > .heading-1 {
        font-size: 22px; // test
    }
    > .borderblock {

    }
}
// -------- END - test -------------------------------------------------------------------------------------------------