// START - header ------------------------------------------------------------------------------------------------------
.header {
    height: 64px;
    display: block;
    background-color: var(--color-3);

    > .container {
        margin: 0 65px;
        display: grid;
        grid-template-columns: 1fr minmax(320px, 1400px) 1fr;
        background-color: var(--color-3);
    }
}

.contact-top {
    display: block;
    background-color: var(--color-3);
}

.contact-top-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
}

.nav {
    display: block;
}

.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    list-style-type: none;
}
// END - header --------------------------------------------------------------------------------------------------------


// START - section base ------------------------------------------------------------------------------------------------
.base {
    display: block;
    background-color: pink;

    > .container {
        margin: 0 65px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #FFA2B1;
    }
}

.composition {
    min-height: calc(100vh - 64px - 64px); // header: 64px, footer-top: 64px
    margin: 0 auto;
    display: block;
    background-color: green;
}

.circle {
    width: 200px;
    height: 200px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    position: absolute;
    background-color: white;
}

.person-img {
    width: 200px;
    height: 200px;
    left: 40px;
    right: 0;
    top: 40px;
    bottom: 0;
    margin: auto;
    display: block;
    position: absolute;
    background-color: blue;
    color: white;


}

.person-info {
    width: 100px;
    height: 50px;
    left: -150px;
    right: 0;
    top: 100px;
    bottom: 0;
    margin: auto;
    display: block;
    position: absolute;
    background-color: gray;
}

.footer-top {
    height: 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #4F5FF6;
}
// END - section base --------------------------------------------------------------------------------------------------


// START - section about -----------------------------------------------------------------------------------------------
.about {
    display: block;
    background-color: pink;

    > .container {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        display: block;
        background-color: #FF8297;
    }
}

// END - section about -------------------------------------------------------------------------------------------------


// START - section service ---------------------------------------------------------------------------------------------
.service {
    display: block;
    background-color: pink;

    > .container {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        display: block;
        background-color: #FF8297;
    }
}

// END - section service -----------------------------------------------------------------------------------------------


// START - section portfolio -------------------------------------------------------------------------------------------
.portfolio {
    display: block;
    background-color: pink;

    > .container {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        display: block;
        background-color: #FF8297;
    }
}

// END - section portfolio ---------------------------------------------------------------------------------------------


// START - section client ----------------------------------------------------------------------------------------------
.client {
    display: block;
    background-color: pink;

    > .container {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        display: block;
        background-color: #FF8297;
    }
}

// END - section client ------------------------------------------------------------------------------------------------


// START - section blog ------------------------------------------------------------------------------------------------
.blog {
    display: block;
    background-color: pink;

    > .container {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        display: block;
        background-color: #FF8297;
    }
}

// END - section blog --------------------------------------------------------------------------------------------------


// START - section contact ---------------------------------------------------------------------------------------------
.contact {
    display: block;
    background-color: pink;

    > .container {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        display: block;
        background-color: #FF8297;
    }
}

// END - section contact -----------------------------------------------------------------------------------------------


// START - section contact ---------------------------------------------------------------------------------------------
.contact {
    display: block;
    background-color: pink;

    > .container {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        display: block;
        background-color: #FF8297;
    }
}

// END - section contact -----------------------------------------------------------------------------------------------


// START - section footer ----------------------------------------------------------------------------------------------
.footer {
    display: block;
    background-color: pink;

    > .container {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        display: block;
        background-color: #FF8297;
    }
}

// END - section footer ------------------------------------------------------------------------------------------------