// ======== START - header =============================================================================================
.header {
    height: 64px;
    display: block;
    background-color: var(--color-3);

    > .container {
        margin: 0 65px;
        padding: 0 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 1300px) {
    .header {
        > .container {
            margin: 0 30px;
        }
    }
}

.logo {
    padding: 32px 0 0 0;
    display: block;
}

.contact-top {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 34px 0 0 0;
    margin: auto;
    max-width: 100%;
    width: 1400px;
    display: block;
    z-index: 10;
    position: absolute;
}

@media (max-width: 1900px) {
    .contact-top {
        width: 1000px;
    }
}

@media (max-width: 1600px) {
    .contact-top {
        display: none;
    }
}

.contact-top__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;

    > li {
        display: block;
    }

    > li:nth-child(n+2) {
        margin: 0 0 0 64px;
    }
}

.contact-top__link {
    display: block;
    font-family: "Poppins SemiBold", serif;
    font-size: 14px;
    transition: color 0.3s linear;
    color: var(--color-4);
    text-decoration: none;

    &:hover {
        color: var(--color-6);
        text-decoration: none;
    }
}

.nav {
    padding: 34px 0 0 0;
    display: block;
    z-index: 20;
}

.nav__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;

    > li {
        display: block;
    }

    > li:nth-child(n+2) {
        margin: 0 0 0 28px;
    }
}

.nav__link {
    display: block;
    font-family: "Poppins SemiBold", serif;
    font-size: 14px;
    transition: color 0.3s linear;
    color: var(--color-4);
    text-decoration: none;

    &:hover {
        color: var(--color-6);
        text-decoration: none;
    }
}

.nav-right {
    right: 0;
    width: 200px;
    height: calc(100vh - 200px); // padding-top: 200px
    padding: 200px 65px 0 50px;
    display: none;
    position: absolute;
    z-index: 40;
    background-color: var(--color-4);
}

.nav-right__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;

    > li {
        display: block;
    }

    > li:nth-child(n+2) {
        margin: 20px 0 0 0;
    }
}

.nav-right__link {
    font-family: "Poppins Medium", serif;
    font-size: 18px;
    color: var(--color-1);
    transition: color 0.3s linear;
    text-decoration: none;

    &:hover {
        color: var(--color-6);
        text-decoration: none;
    }
}

.close-nav-right {
    top: 0;
    right: 0;
    margin: 27px calc(65px + 15px) 0 0;
    display: block;
    position: absolute;
}

@media (max-width: 1300px) {
    .close-nav-right {
        margin-right: calc(15px + 15px);
    }
}

.open-nav-right {
    display: block;
    margin: 27px 0 0 0;
}

// ======== END - header ===============================================================================================


// ======== START - section base =======================================================================================
.base {
    display: block;
    background-color: var(--color-3);
    //background-color: pink; // test

    > .container {
        margin: 0 65px;
        padding: 0 15px;
        display: block;
    }
}

@media (max-width: 1300px) {
    .base {
        > .container {
            margin: 0 30px;
        }
    }
}

.composition {
    min-height: calc(100vh - 64px - 64px); // header: 64px, footer-top: 64px
    display: block;
    //background-color: blue; // test
}

@media (max-width: 1300px) {
    .composition {
        min-height: calc(100vh - 64px); // header: 64px
    }
}

.circle {
    width: 1400px; // [APP.JS]
    height: 1400px; // [APP.JS]
    left: 0;
    right: 0;
    //top: 0; // test
    bottom: 314px;
    margin: auto;
    display: block;
    position: absolute;
    //background-color: red; // test
}

.person-img {
    width: 1020px; // [APP.JS]
    height: 1500px; // [APP.JS]
    left: 0;
    right: 0;
    //top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    position: absolute;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 0;
    }
}

.person-info {
    width: 740px; // [APP.JS]
    left: 0;
    right: 900px; // [APP.JS]
    //top: 0;
    bottom: 300px;
    margin: auto;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    z-index: 30;

    div {
        &:first-child {
            border-radius: 0.5em 0.5em 0 0;
            margin: 0 0 1% 0;
        }

        &:last-child {
            border-radius: 0 0 0.5em 0.5em;
            margin: 1% 0 0 0;
        }
    }
}

.person-info__name {
    padding: 2.5% 4.5%;
    margin: 0;
    display: block;
    font-family: "Poppins Bold", serif;
    font-size: 210%; // [APP.JS]
    text-transform: uppercase;
    line-height: 1;
    white-space: nowrap;
    background-color: pink; // test

    > h1 {
        margin: 0;
        padding: 0;
        //background-color: red; // test
    }
}

.person-info__profession {
    padding: 1.3% 4%;
    display: block; // [APP.JS]
    font-family: "Poppins Bold", serif;
    font-size: 130%; // [APP.JS]
    line-height: 1.3;
    //white-space: nowrap;
    background-color: pink; // test

    > h2 {
        margin: 0;
        padding: 0;
        //background-color: red; // test
    }
}

.person-info__description {
    padding: 1.3% 4%;
    display: block; // [APP.JS]
    font-family: "Poppins Regular", serif;
    font-size: 118%; // [APP.JS]
    line-height: 1.6;
    background-color: pink; // test

    > p {
        margin: 0;
        padding: 0;
        //background-color: red; // test
    }
}

.footer-top {
    height: 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    //background-color: #4F5FF6; // test
}

@media (max-width: 1300px) {
    .footer-top {
        display: none;
    }
}

.copyright {
    margin: 24px 0 0 0;
    display: block;
    font-family: "Poppins SemiBold", serif;
    font-size: 14px;
    color: var(--color-4);
}

.social-button {
    margin: 24px 0 0 0;
    padding: 0;
    display: block;
}

.social-button__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;

    > li:nth-child(n+2) {
        margin: 0 0 0 8px;
    }
}

// ======== END - section base =========================================================================================


// ======== START - section about ======================================================================================
.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    //background-color: pink; // test

    > .container {
        max-width: 1110px; // bootstrap width: 1140px, left: 15px, right: 15px
        width: 1110px;
        margin: 0 65px;
        padding: 0 15px;
        display: block;
        //background-color: #FFA2B1; // test
    }
}

@media (max-width: 1300px) {
    .about {
        > .container {
            margin: 0 30px;
        }
    }
}

.info-img {
    display: block;

    > img {
        display: block;
        border-radius: 10px;
    }
}

@media (max-width: 1100px) {
    .info-img {

        > img {
            margin: auto;
            max-width: 445px;
        }
    }
}

@media (max-width: 680px) {
    .info-img {

        > img {
            width: 70vw;
            min-width: 70vw;
        }
    }
}

.info-txt {
    display: flex;
    flex-direction: column;
}

.info-content {
    margin: 0 0 50px 0;
    display: block;
}

.info-content__heading {
    margin: 0 0 30px 0;
    display: block;
    font-family: "Poppins Bold", serif;
    color: var(--color-5);
}

.info-content__text {
    margin: 0;
    display: block;
    font-family: "Poppins Regular", serif;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-6);
}

.info-contact {
    margin: 0 0 50px 0;
    display: flex;
    flex-direction: row;

    > ul:nth-child(n+2) {
        margin: 0 0 0 30px;
    }
}

@media (max-width: 1100px) {
    .info-contact {
        justify-content: space-evenly;
    }
}

@media (max-width: 680px) {
    .info-contact {
        flex-direction: column;

        > ul:nth-child(n+2) {
            margin: 18px 0 0 0;
        }
    }
}

.info-contact__list {
    padding: 0;
    margin: 0;
    display: block;
    list-style: none;

    li:nth-child(n+2) {
        margin: 18px 0 0 0;
    }
}

.info-contact__records {
    margin: 0;
    display: block;
    font-family: "Poppins SemiBold", serif;
    font-size: 14px;
    color: var(--color-5);

    > span {
        font-family: "Poppins Regular", serif;
        font-size: 14px;
        color: var(--color-4);
    }
}

.info-button {
    display: block;
}

.info-button__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;

    > li {
        display: block;
    }

    > li:nth-child(n+2) {
        margin: 0 0 0 30px;
    }
}

@media (max-width: 1100px) {
    .info-button__list {
        justify-content: center;
    }
}

@media (max-width: 460px) {
    .info-button__list {
        flex-direction: column;

        > li:nth-child(n+2) {
            margin: 30px 0 0 0;
        }
    }
}

.timeline {
    display: block;
}

.timeline__heading {
    margin: 0 0 30px 0;
    display: block;
    font-family: "Poppins Bold", serif;
    color: var(--color-5);

    > h2 {
        display: block;
        margin: 0;
    }
}

.timeline__item {
    padding: 0 0 40px 32px;
    margin: 0 0 0 8px;
    display: block;
    border-left: 2px solid var(--color-4);

    &::before {
        width: 18px;
        height: 18px;
        margin-left: -42px;
        position: absolute;
        content: '';
        background: var(--color-4);
        border-radius: 50%;
    }

    &:last-child {
        border-left: 2px solid var(--color-1);
        padding-bottom: 0;
    }
}

.timeline__date {
    margin: 0 0 14px 0;
    display: block;

    > span {
        margin: 0 0 4px 0;
        display: block;
        font-family: "Poppins SemiBold", serif;
        font-size: 14px;
        color: var(--color-4);
    }

    > small {
        display: block;
        font-family: "Poppins Regular", serif;
        font-size: 12px;
        line-height: 20px;
        color: var(--color-6);
    }
}

.timeline__content {
    display: block;

    > h3 {
        margin: 0 0 6px 0;
        display: block;
        font-family: "Poppins SemiBold", serif;
        font-size: 18px;
        color: var(--color-5);
    }

    > p {
        margin: 0;
        display: block;
        font-family: "Poppins Regular", serif;
        font-size: 14px;
        line-height: 24px;
        color: var(--color-6);
    }
}

.circular-chart {
    width: 100%;
    display: block;
}

.circular-chart__heading {
    margin: 0 0 30px 0;
    display: block;

    > h2 {
        margin: 0;
        display: block;
        font-family: "Poppins Bold", serif;
        font-size: 24px;
        color: var(--color-5);
    }
}

.circular-chart__list {
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 680px) {
    .circular-chart__list {
        flex-wrap: wrap;

        > div {
            width: 50%;
        }

        > div:nth-child(n+3) {
            margin: 40px 0 0 0;
        }
    }
}

@media (max-width: 460px) {
    .circular-chart__list {
        flex-direction: column;

        > div {
            width: 100%;
        }

        > div:nth-child(n+2) {
            margin: 40px 0 0 0;
        }
    }
}

.circular-chart__item {
    display: flex;
    align-items: center;
    flex-direction: column;

    > h4 {
        margin: 20px 0 0 0;
        display: block;
        font-family: "Poppins Regular", serif;
        font-size: 14px;
        color: var(--color-6);
    }
}

.svg-circle {
    width: 110px;
    height: 110px;

    > text {
        font-size: 0.54em;
        font-family: "Poppins SemiBold", serif;
        fill: var(--color-4);
        text-anchor: middle;
    }
}

.svg-circle__background {
    fill: none;
    stroke: var(--color-3);
    stroke-width: 4.5;
}

.svg-circle__result {
    fill: none;
    stroke: var(--color-4);
    stroke-width: 4.5;
    stroke-linecap: round;
}

.progress-chart {
    width: 100%;
    display: block;
}

.progress-chart__heading {
    margin: 0 0 30px 0;
    display: block;

    > h2 {
        margin: 0;
        display: block;
        font-family: "Poppins Bold", serif;
        font-size: 24px;
        color: var(--color-5);
    }
}

.progress-chart__list {
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.progress-chart__item {
    width: 100%;
    display: block;
    position: relative;

    &:nth-child(n+2) {
        margin: 30px 0 0 0;
    }
}

.progress-chart__name {
    margin: 0 0 6px 0;
    display: flex;
    justify-content: space-between;

    > h4 {
        margin: 0;
        font-family: "Poppins Regular", serif;
        font-size: 14px;
        color: var(--color-6);
    }

    > span {
        margin: 0;
        font-size: 14px;
        font-family: "Poppins Medium", serif;
        color: var(--color-6);
    }
}

.svg-progress {
    width: 100%;
    height: 16px;
    display: block;
}

.svg-progress__background {
    height: 16px;
    fill: var(--color-3);
    rx: 7; // закругление краев
}

.svg-progress__result {
    height: 16px;
    fill: var(--color-4);
    rx: 7; // закругление краев
}

.certificate {
    width: 100%;
    display: block;
}

.certificate__heading {
    margin: 0 0 30px 0;
    display: block;

    > h2 {
        margin: 0;
        display: block;
        font-family: "Poppins Bold", serif;
        font-size: 24px;
        color: var(--color-5);
    }
}

.certificate__list {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;

    > div {
        width: 50%;
    }

    > div:nth-child(n+2) {
        margin: 0 0 0 30px;
    }
}

@media (max-width: 1100px) {
    .certificate__list {
        justify-content: center;
        flex-wrap: wrap;

        > div {
            width: 100%;
        }

        > div:nth-child(n+2) {
            margin: 30px 0 0 0;
        }
    }
}

.certificate__item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: solid 2px var(--color-3);
    border-radius: 10px;

    > div:nth-child(n+2) {
        flex-grow: 1;
    }
}

.certificate__icon {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-3);
    border-radius: 10px 0 0 10px;
    margin-left: -1px;
    margin-top: -1px;

    img {
        width: 66px;
        height: 66px;
        margin: 0 20px;
        display: block;
    }
}

.certificate__info {
    width: 100%;
    padding: 20px 30px 20px 30px;
    display: block;

    > h3 {
        margin: 0;
        font-family: "Poppins SemiBold", serif;
        font-size: 18px;
        color: var(--color-5);
    }

    > p {
        margin: 10px 0 0 0;
        display: block;
        font-family: "Poppins Regular", serif;
        font-size: 14px;
        line-height: 24px;
        color: var(--color-6);
    }

    > small {
        margin: 18px 0 0 0;
        display: block;
        font-family: "Poppins Regular", serif;
        font-size: 12px;
        line-height: 10px;
        color: var(--color-6);
    }
}

.fact {
    width: 100%;
    display: block;
}

.fact__heading {
    margin: 0 0 30px 0;
    display: block;

    > h2 {
        margin: 0;
        display: block;
        font-family: "Poppins Bold", serif;
        font-size: 24px;
        color: var(--color-5);
    }
}

.fact__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;

    > div {
        width: 20%;
    }

    > div:nth-child(n+2) {
        margin: 0 0 0 30px;
    }
}

@media (max-width: 1100px) {
    .fact__list {
        flex-wrap: wrap;

        > div {
            width: 100%;
        }

        > div:nth-child(n+2) {
            margin: 30px 0 0 0;
        }
    }
}

.fact__item {
    width: 100%;
    padding: 18px 16px 22px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: solid 2px var(--color-3);
    border-radius: 10px;

    > h3 {
        margin: 18px 0 0 0;
        text-align: center;
        font-family: "Poppins SemiBold", serif;
        font-size: 18px;
        color: var(--color-5);
    }

    > span {
        margin: 18px 0 0 0;
        font-family: "Poppins SemiBold", serif;
        font-size: 18px;
        color: var(--color-4);
    }
}

.fact__icon {
    display: block;

    img {
        display: block;
        width: 44px;
        height: 44px;
    }
}

// ======== END - section about ========================================================================================


// ======== START - section service ====================================================================================
.service {
    display: flex;
    flex-direction: row;
    justify-content: center;
    //background-color: pink; // test

    > .container {
        max-width: 1110px;
        width: 1110px;
        margin: 0 65px;
        padding: 0 15px;
        display: block;
        //background-color: #FF8297; // test
    }
}

.type-service {
    width: 100%;
    display: block;
}

.type-service__heading {
    margin: 0 0 30px 0;
    display: block;

    > h2 {
        margin: 0;
        display: block;
        font-family: "Poppins Bold", serif;
        font-size: 24px;
        color: var(--color-5);
    }
}

.type-service__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > div {
        width: 33%;
    }
}

.type-service__item {
    display: block;

    > h3 {
        //margin: 0;
        font-family: "Poppins SemiBold", serif;
        font-size: 18px;
        color: var(--color-5);

        position: relative;
        padding: 0 0 0 36px;

        &:before {
            display: inline-block;
            position: absolute;
            content: ' ';
            background-image: url('../img/icon-design.svg');
            background-size: 24px 24px;
            height: 24px;
            width: 24px;
            left: 0;
        }
    }

    > p {
        margin: 20px 0 0 0;
        font-family: "Poppins Regular", serif;
        font-size: 14px;
        line-height: 24px;
        color: var(--color-6);
    }
}

.lala {
    display: block;
    border: solid 1px black;

    > h3 {
        padding: 0 0 0 36px;

        &:before {
            display: inline-block;
            background-image: url('../img/icon-design.svg');
        }
    }
}

.type-service__link {
    display: inline-block;
    position: relative;
    text-decoration: none;

    font-family: "Poppins Bold", serif;
    font-size: 14px;
    transition: color 0.3s linear;
    color: var(--color-5);

    &:hover {
        color: var(--color-6);
    }

    svg {
        width: 12px;
        height: 12px;
        fill: var(--color-5);
        margin-top: -2px;
    }

    &:hover {
        svg {
            animation-name: lnord;
            animation-duration: 0.7s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: ease-in-out;
            fill: var(--color-6);
        }
    }

    @keyframes lnord {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(6px);
        }
    }
}

// ======== END - section service ======================================================================================


// ======== START - section portfolio ==================================================================================
.portfolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: pink; // test

    > .container {
        max-width: 1110px;
        width: 1110px;
        margin: 0 65px;
        padding: 0 15px;
        display: block;
        background-color: #FF627C; // test
    }
}

// ======== END - section portfolio ====================================================================================


// ======== START - section client =====================================================================================
.client {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: pink; // test

    > .container {
        max-width: 1110px;
        width: 1110px;
        margin: 0 65px;
        padding: 0 15px;
        display: block;
        background-color: #FF4261; // test
    }
}

// ======== END - section client =======================================================================================


// ======== START - section contact ====================================================================================
.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: pink; // test

    > .container {
        max-width: 1110px;
        width: 1110px;
        margin: 0 65px;
        padding: 0 15px;
        display: block;
        background-color: #FF2B4F; // test
    }
}

// ======== END - section contact ======================================================================================


// ======== START - section contact ====================================================================================
.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: pink; // test

    > .container {
        max-width: 1110px;
        width: 1110px;
        margin: 0 65px;
        padding: 0 15px;
        display: block;
        background-color: #E60026; // test
    }
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "map map"
        "message contact";
}

.map {
    display: block;
    grid-area: map;
}

.message {
    display: block;
    grid-area: message;
}

.contact-info {
    display: block;
    grid-area: contact;
}

// ======== END - section contact ======================================================================================


// ======== START - section footer =====================================================================================
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: pink; // test

    > .container {
        max-width: 1110px;
        width: 1110px;
        height: 64px;
        margin: 0 65px;
        padding: 0 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        background-color: #CF0022; // test
    }
}

// ======== END - section footer =======================================================================================

//.footer-top {
//    height: 64px;
//    display: flex;
//    flex-direction: row;
//    flex-wrap: nowrap;
//    justify-content: space-between;
//    background-color: #4F5FF6;
//}