// ======== START - .path ==============================================================================================
.path {
    display: block;
    margin: 0 0 48px 0;
}

.path--indent {
    margin: 114px 0 0 0;
}

.path__list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
}

.path__item {
    font-family: "Poppins Regular", serif;
    font-size: 14px;
    color: var(--color-4);


    > a {
        font-family: "Poppins SemiBold", serif;
        font-size: 14px;
        text-decoration: none;
        color: var(--color-4);
    }

    &:nth-child(n+2):before {
        content: "/";
        margin: 0 8px 0 8px;
    }
}

.path-hr {
    margin: 348px 0 0 0;
    position: absolute;
    border-color: var(--color-4);
    border-style: solid;
    width: 100%;
}

.path-hr-2 {
    margin: 184px 0 0 0;
    position: absolute;
    border-color: var(--color-4);
    border-style: solid;
    width: 100%;
}
// ======== END - .path ================================================================================================


// ======== START - section portfolio ==================================================================================
.portfolio-items--height {
    min-height: calc(100vh - 559px);
    display: block;
}

.portfolio-single {
    min-height: calc(100vh - 373px);
    margin: 100px 0 0 0;
    display: block;
}

.portfolio-single__title {
    margin: 0 0 50px 0;
    display: block;

    > h2 {
        font-family: "Poppins Bold", serif;
        font-size: 24px;
        color: var(--color-5);
    }
}

.portfolio-single__description {
    margin: 0 0 50px 0;
    display: block;

    > p {
        font-family: "Poppins Regular", serif;
        font-size: 14px;
        line-height: 24px;
        color: var(--color-6);
    }
}

.portfolio-single__img-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portfolio-single__img {
    width: 600px;
    height: 450px;
    margin: 0 auto;
    display: block;

    &:nth-child(n+2) {
        margin: 30px auto;
    }

    > img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}
// ======== END - section portfolio ====================================================================================