body {
    background-color: var(--color-3);
}

// -------- START - header ---------------------------------------------------------------------------------------------
.header {
    height: 64px;
    display: block;

    > .container {
        margin: 0 65px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.logo {
    padding: 32px 0 0 0;
    display: block;
}

.contact-top {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 34px 0 0 0;
    margin: auto;
    max-width: 100%;
    width: 1400px;
    display: block;
    z-index: 10;
    position: absolute;
}

@media (max-width: 1900px) {
    .contact-top {
        width: 1000px;
    }
}

@media (max-width: 1600px) {
    .contact-top {
        display: none;
    }
}

.contact-top-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;

    li:nth-child(n+2) {
        margin: 0 0 0 64px;
    }
}

.nav {
    padding: 34px 0 0 0;
    display: none;
    z-index: 20;
}

.nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;

    li:nth-child(n+2) {
        margin: 0 0 0 28px;
    }
}

.nav-right {
    right: 0;
    width: 220px;
    height: calc(100vh - 200px); // padding-top: 200px
    padding: 200px 0 0 50px;
    display: block;
    position: absolute;
    z-index: 10;
    background-color: var(--color-4);
}

.nav-right-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;

    li {
        margin-top: 20px;

        &:first-child {
            margin-top: 0;
        }
    }
}

.close-nav {
    top: 32px;
    right: 65px;
    display: block;
    position: absolute;

}

.open-van {
    display: block;
}

// -------- END - header -----------------------------------------------------------------------------------------------


// -------- START - section base ---------------------------------------------------------------------------------------
.base {
    display: block;
    //background-color: pink; // test

    > .container {
        margin: 0 65px;
        display: block;
    }
}

.composition {
    min-height: calc(100vh - 64px - 64px); // header: 64px, footer-top: 64px
    display: block;
    background-color: blue; // test
}

.circle {
    width: 1400px;
    height: 1400px;
    left: 0;
    right: 0;
    //top: 0; // test
    bottom: 314px;
    margin: auto;
    display: block;
    position: absolute;
    //background-color: red; // test
}

.person-img {
    width: 1020px;
    height: 1500px;
    left: 0;
    right: 0;
    //top: 0; // test
    bottom: 0;
    margin: auto;
    display: block;
    position: absolute;

    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 0;
    }
}

.person-info {
    width: 718px; // [APP.JS]
    left: 0;
    right: 1000px;
    //top: 0; // test
    bottom: 300px;
    margin: auto;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    z-index: 1000;
    //background-color: yellow; // test

    div {
        &:first-child {
            border-radius: 0.5em 0.5em 0 0; // [APP.JS]
            margin: 0 0 1% 0;
        }

        &:last-child {
            border-radius: 0 0 0.5em 0.5em; // [APP.JS]
            margin: 1% 0 0 0;
        }
    }
}

.person-h1 {
    padding: 2.5% 4.5%;
    display: block;
    font-family: "Poppins Bold", serif;
    font-size: 210%; // [APP.JS]
    text-transform: uppercase;
    line-height: 1;
    white-space: nowrap;
    background-color: gray; // test

    > .heading-1 {
        margin: 0;
        padding: 0;
        //background-color: red; // test
    }
}

.person-h2 {
    padding: 1.3% 4%;
    display: block; // [APP.JS]
    font-family: "Poppins Bold", serif;
    font-size: 130%; // [APP.JS]
    line-height: 1.3;
    //white-space: nowrap;
    background-color: gray; // test

    > .heading-2 {
        margin: 0;
        padding: 0;
        //background-color: red; // test
    }
}

.person-description {
    padding: 1.3% 4%;
    display: block; // [APP.JS]
    font-family: "Poppins Regular", serif;
    font-size: 118%; // [APP.JS]
    line-height: 1.6;
    background-color: gray; // test

    > .paragraph {
        margin: 0;
        padding: 0;
        //background-color: red; // test
    }
}

.footer-top {
    height: 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #4F5FF6; // test
}
// -------- END - section base -----------------------------------------------------------------------------------------


// -------- START - section about --------------------------------------------------------------------------------------
.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: pink;

    > .container {
        max-width: 1400px;
        width: 1400px;
        margin: 0 65px;
        display: block;
        background-color: #FFA2B1; // test
    }
}

.info-person {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.timeline-list {
    display: flex;
    flex-direction: row;
}

.timeline-item {
    display: block;
    flex-grow: 1; // разделение блоков на равные части
}

// -------- END - section about ----------------------------------------------------------------------------------------


// -------- START - section service ------------------------------------------------------------------------------------
.service {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: pink;

    > .container {
        max-width: 1400px;
        width: 1400px;
        margin: 0 65px;
        display: block;
        background-color: #FF8297; // test
    }
}

// -------- END - section service --------------------------------------------------------------------------------------


// -------- START - section portfolio ----------------------------------------------------------------------------------
.portfolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: pink;

    > .container {
        max-width: 1400px;
        width: 1400px;
        margin: 0 65px;
        display: block;
        background-color: #FF627C; // test
    }
}

// -------- END - section portfolio -------------------------------------------------------------------------------------


// -------- START - section client -------------------------------------------------------------------------------------
.client {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: pink;

    > .container {
        max-width: 1400px;
        width: 1400px;
        margin: 0 65px;
        display: block;
        background-color: #FF4261; // test
    }
}

// -------- END - section client ---------------------------------------------------------------------------------------


// -------- START - section contact ------------------------------------------------------------------------------------
.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: pink;

    > .container {
        max-width: 1400px;
        width: 1400px;
        margin: 0 65px;
        display: block;
        background-color: #FF2B4F; // test
    }
}

// -------- END - section contact --------------------------------------------------------------------------------------


// -------- START - section contact ------------------------------------------------------------------------------------
.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: pink;

    > .container {
        max-width: 1400px;
        width: 1400px;
        margin: 0 65px;
        display: block;
        background-color: #E60026; // test
    }
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "map map"
        "message contact";
}

.map {
    display: block;
    grid-area: map;
}

.message {
    display: block;
    grid-area: message;
}

.contact-info {
    display: block;
    grid-area: contact;
}

// -------- END - section contact --------------------------------------------------------------------------------------


// -------- START - section footer -------------------------------------------------------------------------------------
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: pink;

    > .container {
        max-width: 1400px;
        width: 1400px;
        height: 64px;
        margin: 0 65px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        background-color: #CF0022; // test
    }
}

// -------- END - section footer ---------------------------------------------------------------------------------------

//.footer-top {
//    height: 64px;
//    display: flex;
//    flex-direction: row;
//    flex-wrap: nowrap;
//    justify-content: space-between;
//    background-color: #4F5FF6;
//}