/* ======== START - .header ==========================================================================================*/
.header {
    display: block;


    > .container {
        display: block;
        width: 100px;
        height: 100px;
        background: red;
        margin: 0 auto;
    }
}


/* ======== END - .header ============================================================================================*/