// START - theme-blue --------------------------------------------------------------------------------------------------
.theme-blue {
    --color-1: #FFFFFF;
    --color-2: #E9F8FF;
    --color-3: #D1F0FF;
    --color-4: #59A5D8;
    --color-5: #386FA4;
    --color-6: #133C55;
    --color-7: #A8D7F6;
}
// END - theme-blue ----------------------------------------------------------------------------------------------------