/* ======== START - .header-top ===================================================================================== */
.header-top--beta {
    top: -16px;
}

hr {
    display: block;
    position: relative;
    border: 1px solid var(--color-7);
    top: 308px;
}
/* ======== END - .header-top ======================================================================================= */