#table-cell-2 {
  height: 56px;
  display: table-cell;
  border: red 2px solid;
  padding: 10px;
  margin: 10px;
}

#block-3 {
  height: 36px;
  display: block;
  border: red 2px solid;
  padding: 10px;
  margin: 10px;
}