/* ======== START - .client ==========================================================================================*/

.client {
    background-color: var(--color-1);
}

.person-all {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.person {
    width: 540px;
    height: 290px;
    min-width: 540px;
    min-height: 290px;
    display: block;

    &:nth-child(2) {
        margin-left: 30px;
    }

    .person__photo {
        width: 140px;
        height: 140px;
        display: block;
        position: absolute;
        border-radius: 10px;
        z-index: 20;
        background-color: var(--color-3);
        //background-color: black;

        img {
            width: 100.5%;
            height: 100.5%;
            display: block;
            object-fit: cover;
            object-position: 0 0;
            border-radius: 8px;
            border: solid 2px var(--color-3);
            //border: solid 2px black;
        }
    }

    .person__info {
        width: 520px;
        height: 270px;
        display: block;
        margin: 20px 0 0 20px;
        position: absolute;
        border: solid 2px var(--color-3);
        border-radius: 10px;
        z-index: 10;

        .person__title {
            display: flex;
            justify-content: space-between;
            margin: 28px 24px 0 140px;

            small {
                display: block;
                margin: 4px 0 0 0;
            }
        }

        .person__txt {
            display: block;
            margin: 20px 24px 0 140px;
        }

        .person__star {
            width: 100.5%;
            height: 44px;
            display: block;
            margin-left: -1px;
            position: absolute;
            bottom: -0.5px;
            background-color: var(--color-3);
            border-radius: 0 0 8px 8px;

            .person__item {
                height: 44px;
                display: flex;
                justify-content: center;
                align-items: center;

                div {
                    display: block;
                    width: 24px;
                    height: 24px;

                    &:nth-child(n+2) {
                        margin-left: 6px;
                    }
                }
            }
        }
    }
}
/* ======== END - .client ============================================================================================*/