/* ======== START - .blog ============================================================================================*/

.blog {
    background-color: var(--color-1);
}

.post-all {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .post {
        width: 350px;
        min-width: 350px;
        display: block;

        .post__link-img {
            height: 360px;
            display: block;
            overflow: hidden;
            border-radius: 10px 10px 0 0;

            &:hover img {
                transform: scale(1.2);
            }

            img {
                height: 100%;
                display: block;
                transition-property: transform;
                transition-duration: 1s;
                transition-timing-function: ease;
            }
        }

        .post__info {
            height: 185px;
            display: block;
            padding: 0 30px 0 30px;
            border-radius: 0 0 10px 10px;
            border: 2px solid var(--color-3);
            overflow: hidden;

            small {
                display: block;
                margin: 18px 0 0 0;
            }

            a {
                display: block;
                margin: 12px 0 0 0;
                text-decoration: none;


                h3 {
                    display: block;
                    margin: 0;
                    transition: color 0.3s linear;
                    color: var(--color-5);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    text-decoration: none;

                    &:hover {
                        color: var(--color-6);
                    }
                }
            }

            p {
                display: block;
                margin: 12px 0 0 0;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
    }
}

.blog-button {
    margin: 40px 0 0 0;
}


/* ======== END - .blog ==============================================================================================*/