/* ======== START - .grid-post =======================================================================================*/
.grid-post {
    display: grid;
    grid-template-columns: 1fr 320px;
    grid-template-areas:
            "post sidebar"
            "crumb sidebar";
    grid-column-gap: 60px;
    margin: 100px 0 0 0;

    .container-post {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        grid-area: post;
    }

    .sidebar-post {
        display: flex;
        flex-direction: column;
        grid-area: sidebar;
    }

    .crumb-post {
        grid-area: crumb;
    }
}

/* ======== END - .grid-post =========================================================================================*/



/* ======== START - .sidebar-post ====================================================================================*/
.search-post {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    input {
        height: 50px;
        width: 320px;
        display: block;
        border: 2px solid var(--color-4);
        border-radius: 10px;
        outline: 0;
        padding: 0 50px 0 16px;
        color: var(--color-4);

        &:focus {
            border: 2px solid var(--color-5);

            .btn-search-post {
                color: red;
            }
        }

        &::placeholder {
            color: var(--color-7);
        }
    }

    button {
        height: 50px;
        width: 50px;
        margin: 0 0 0 -50px;
        position: relative;
        display: block;
        border: none;
        outline: 0;
        background-color: unset;
        color: var(--color-4);
        border-radius: 10px;

        i {
            font-size: 22px;
        }

        &:hover {
            color: var(--color-5);
        }

    }
}

.archive {
    display: block;
    margin: 70px 0 0 0;

    .archive__list {
        display: block;
        margin: 20px 0 0 0;

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;

                &:nth-child(n+2) {
                    margin: 10px 0 0 0;
                }

                a {
                    color: unset;
                }
            }
        }
    }
}

.recent-post {
    display: block;
    margin: 70px 0 0 0;

    .recent-post__list {
        display: block;
        margin: 20px 0 0 0;

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;

                &:nth-child(n+2) {
                    margin: 12px 0 0 0;
                }

                a {
                    color: unset;
                }
            }
        }
    }
}

.tag-post {
    display: block;
    margin: 70px 0 0 0;

    .tag-post__list {
        display: block;
        margin: 20px 0 0 0;

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            li {
                display: block;
                list-style-type: none;

                &:nth-child(n) {
                    margin: 0 10px 12px 0;
                }

            }
        }
    }
}

/* ======== END - .sidebar-post ======================================================================================*/



/* ======== START - .crumb-post ======================================================================================*/
.crumb-page {
    display: block;
    margin: 40px 0 0 0;
    justify-self: center;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        li {
            display: block;
            list-style-type: none;
            margin: 0 18px 0 0;

            &:last-child {
                margin: 0;
            }

            a {
                color: var(--color-4);
                font-family: "Poppins Bold", serif;
                font-size: 14px;

                &:hover {
                    text-decoration: none;
                    color: var(--color-5);
                }
            }

        }
    }
}
/* ======== END - .crumb-post ========================================================================================*/