/* ======== START - Theme-blue ====================================================================================== */
.theme-blue {
    // образец, если заголоки h1, h2 разных цветов
    //--heading-1a: #ffffff;
    //--heading-1b: #ffffff;
    //--heading-1c: #ffffff;
    //--heading-2a: #ffffff;
    //--heading-2b: #ffffff;

    // образец, если более сложная структура в дизайне
    //--txt-1: #ffffff;
    //--txt-2: #ffffff;
    //--txt-3: #ffffff;
    //--txt-light-1: #ffffff;
    //--txt-light-2: #ffffff;
    //--txt-small: #ffffff;


    // -------- START - colors -----------------------------------------------------------------------------------------
    --color-1: #ffffff;
    --color-2: #E9F8FF;
    --color-3: #D1F0FF;
    --color-4: #59A5D8;
    --color-5: #386FA4;
    --color-6: #133C55;
    // -------- END - colors -------------------------------------------------------------------------------------------


    // -------- START - fonts: headings --------------------------------------------------------------------------------
    --fnt-heading-xxl: #ffffff;
    --fnt-heading-1: #ffffff;
    --fnt-heading-2: #386FA4;
    --fnt-heading-3: #386FA4;
    --fnt-heading-4: #133C55;
    // -------- END - fonts: headings ----------------------------------------------------------------------------------


    // -------- START - fonts: text ------------------------------------------------------------------------------------
    --fnt: #133C55;              // обычный текст
    --fnt-2: #133C55;            // обычный текст 2
    --fnt-3: #386FA4;            // текст для заголовка разделов
    --fnt-medium: #133C55;
    --fnt-semibold: #59A5D8;     // жирный текст
    --fnt-light:  #133C55;       // лайт текст
    --fnt-small: #133C55;        // маленький текст
    // -------- END - fonts: text --------------------------------------------------------------------------------------


    // -------- START - fonts: links, buttons, navigation --------------------------------------------------------------
    --fnt-nav: #59A5D8;               // классическая навигация
    --fnt-nav-hover: #133C55;
    --fnt-nav-right: #ffffff;         // навигация при малых размерах экрана
    --fnt-nav-right-hover: #133C55;
    --fnt-link: #59A5D8;               // обычная ссылка
    --fnt-link-hover: #133C55;
    --fnt-link-2: #386FA4;
    --fnt-link-2-hover: #133C55;
    // -------- START - fonts: links, buttons, navigation --------------------------------------------------------------


    // -------- START - elements ---------------------------------------------------------------------------------------
    --btn-full: #ffffff;          // кнопка 1
    --btn-full-hover: #133C55;
    --btn-light: #386FA4;         // кнопка 2
    --btn-light-hover: #133C55;
    --heading-blk-base: #59A5D8;;
    --heading-blk-border: #D1F0FF;
    // -------- END - elements -----------------------------------------------------------------------------------------
}
/* ======== END -  Theme-blue ======================================================================================= */



/* ======== START - Theme-dark ====================================================================================== */
.theme-dark {
    // -------- START - colors -----------------------------------------------------------------------------------------
    --color-1: #F8F9FA;
    --color-2: #CED4DA;
    --color-3: #6C757D;
    --color-4: #212529;
    // -------- END - colors -------------------------------------------------------------------------------------------


    // -------- START - fonts: headings --------------------------------------------------------------------------------
    --fnt-heading-xxl: #ffffff;
    --fnt-heading-1: #ffffff;
    --fnt-heading-2: #386FA4;
    --fnt-heading-3: #386FA4;
    --fnt-heading-4: #133C55;
    // -------- END - fonts: headings ----------------------------------------------------------------------------------


    // -------- START - fonts: text ------------------------------------------------------------------------------------
    --fnt: #133C55;              // обычный текст
    --fnt-2: #133C55;            // обычный текст 2
    --fnt-3: #386FA4;            // текст для заголовка разделов
    --fnt-semibold: #59A5D8;     // жирный текст
    --fnt-light:  #133C55;       // лайт текст
    --fnt-small: #133C55;        // маленький текст
    // -------- END - fonts: text --------------------------------------------------------------------------------------


    // -------- START - fonts: links, buttons, navigation --------------------------------------------------------------
    --fnt-nav: #59A5D8;               // классическая навигация
    --fnt-nav-hover: #133C55;
    --fnt-nav-right: #ffffff;         // навигация при малых размерах экрана
    --fnt-nav-right-hover: #133C55;
    --fnt-link: #59A5D8;               // обычная ссылка
    --fnt-link-hover: #133C55;
    // -------- START - fonts: links, buttons, navigation --------------------------------------------------------------


    // -------- START - elements ---------------------------------------------------------------------------------------
    --btn-full: #ffffff;          // кнопка 1
    --btn-full-hover: #133C55;
    --btn-light: #386FA4;         // кнопка 2
    --btn-light-hover: #133C55;
    --heading-blk-base: #59A5D8;;
    --heading-blk-border: #D1F0FF;
    // -------- END - elements -----------------------------------------------------------------------------------------
}
/* ======== END -  Theme-dark ======================================================================================= */