/* ======== START - theme-blue ====================================================================================== */

.theme-blue {
    --color-1: #ffffff; // 2 1
    --color-2: #E9F8FF; // 4
    --color-3: #D1F0FF; // 4
    --color-4: #59A5D8; // 2 1
    --color-5: #386FA4; // 4
    --color-6: #133C55; // 4
    --color-7: red;
}

.theme-test {
    // образец, если заголоки h1, h2 разных цветов
    //--heading-1a: #ffffff;
    //--heading-1b: #ffffff;
    //--heading-1c: #ffffff;
    //--heading-2a: #ffffff;
    //--heading-2b: #ffffff;

    // образец, если более сложная структура в дизайне
    //--txt-1: #ffffff;
    //--txt-2: #ffffff;
    //--txt-3: #ffffff;
    //--txt-light-1: #ffffff;
    //--txt-light-2: #ffffff;
    //--txt-small: #ffffff;

    // -------- START - шрифт ------------------------------------------------------------------------------------------
    // заголовки
    --heading-xxl: #ffffff;
    --heading-1: #ffffff;
    --heading-2: #ffffff;
    --heading-3: #ffffff;
    --heading-4: #ffffff;

    // текст
    --txt: #ffffff;              // обычный текст
    --txt-hdg: #ffffff;          // текст для заголовка разделов
    --txt-semibold: #ffffff;     // жирный текст
    --txt-light: #ffffff;        // лайт текст
    --txt-small: #ffffff;        // маленький текст

    // ссылки, кнопки, меню
    --nav: #ffffff;              // классическая навигация
    --nav-right: #ffffff;        // навигация при малых размерах экрана
    --btn-full: #ffffff;         // кнопка 1
    --btn-light: #ffffff;        // кнопка 2
    --lnk: #ffffff;              // обычная ссылка
    --lnk-contact: #ffffff;      // ссылка на email, телефон

    // -------- END - шрифт --------------------------------------------------------------------------------------------



    // -------- START - элементы ---------------------------------------------------------------------------------------
    --heading-blk: #ffffff;
    --heading-blk-border: #ffffff;





    // -------- END - элементы -----------------------------------------------------------------------------------------







}

/* ======== END -  theme-blue ======================================================================================= */



/* ======== START - theme-dark ====================================================================================== */

.theme-dark {
    --color-1: #F8F9FA;
    --color-2: #CED4DA;
    --color-3: #6C757D;
    --color-4: #212529;
}

/* ======== END -  theme-dark ======================================================================================= */