/* ======== START - Base ============================================================================================ */

/* ======== START - Headings  ======================================================================================= */
.fnt-heading-xxl {
    font-family: "Poppins Bold", serif;
    font-size: 2.875em; // 46px - 2.875em
    color: var(--fnt-heading-xxl);
    text-transform: uppercase;
    margin: 0;
}

.fnt-heading-1 h1 {
    font-family: "Poppins Bold", serif;
    font-size: 38px;
    color: var(--fnt-heading-1);
    text-transform: uppercase;
    margin: 0;
}

.fnt-heading-2 h2 {
    font-family: "Poppins Bold", serif;
    font-size: 24px;
    color: var(--fnt-heading-2);
    margin: 0;
}

.fnt-heading-3 h3 {
    font-family: "Poppins SemiBold", serif;
    font-size: 18px;
    color: var(--fnt-heading-3);
    margin: 0;
}

.fnt-heading-4 h4 {
    font-family: "Poppins Medium", serif;
    font-size: 14px;
    color: var(--fnt-heading-4);
    margin: 0;
}
/* ======== END - Headings ========================================================================================== */



/* ======== START - Text ============================================================================================ */
.fnt p {
    font-family: "Poppins Regular", serif;
    font-size: 14px;
    line-height: 24px;
    color: var(--fnt);
}

.fnt ul li {
    font-family: "Poppins Regular", serif;
    font-size: 14px;
    line-height: 24px;
    color: var(--fnt);
}

.fnt-2 p {
    font-family: "Poppins Regular", serif;
    font-size: 14px;
    line-height: 24px;
    color: var(--fnt-2);
}

.fnt-3 p {
    font-family: "Poppins Regular", serif;
    font-size: 14px;
    line-height: 24px;
    color: var(--fnt-3);
}

.fnt-light p {
    font-family: "Poppins Light", serif;
    font-size: 14px;
    color:  var(--fnt-light);
}

.fnt-small small {
    font-family: "Poppins Regular", serif;
    font-size: 12px;
    color:  var(--fnt-small);
}

.fnt-semibold span {
    font-family: "Poppins SemiBold", serif;
    font-size: 14px;
    color: var(--fnt-semibold);
}

.fnt-semibold ul li span {
    font-family: "Poppins SemiBold", serif;
    font-size: 14px;
    line-height: 24px;
    color: var(--fnt-semibold);
}

.fnt-semibold-2 text {
    font-family: "Poppins SemiBold", serif;
    font-size: 24px;
    fill: var(--fnt-semibold);
}

.fnt-semibold-3 span {
    font-family: "Poppins SemiBold", serif;
    font-size: 18px;
    color: var(--fnt-semibold);
}

.fnt-medium span {
    font-size: 14px;
    font-family: "Poppins Medium", serif;
    color: var(--fnt-medium);
}

.fnt-extrabold {
    font-size: 48px;
    font-family: "Poppins ExtraBold", serif;
    color: var(--fnt-extrabold);
}
/* ======== START - Text ============================================================================================ */



/* ======== START - Links, nav ====================================================================================== */
.fnt-link ul li a {
    font-family: "Poppins SemiBold", serif;
    font-size: 14px;
    transition: color 0.3s linear;
    color: var(--fnt-link);

    &:hover {
        color: var(--fnt-link-hover);
    }
}

.fnt-link-2 a {
    font-family: "Poppins Bold", serif;
    font-size: 14px;
    transition: color 0.3s linear;
    color: var(--fnt-link-2);

    &:hover {
        color: var(--fnt-link-hover-2);
    }
}

.fnt-nav ul li a {
    font-family: "Poppins SemiBold", serif;
    font-size: 14px;
    transition: color 0.3s linear;
    color: var(--fnt-nav);

    &:hover {
        color: var(--fnt-nav-hover);
        text-decoration: none;
    }
}

.fnt-nav-right ul li a {
    font-family: "Poppins Medium", serif;
    font-size: 18px;
    color: var(--fnt-nav-right);

    &:hover {
        color: var(--fnt-nav-right-hover);
        text-decoration: none;
    }
}
/* ======== END - Links, nav ======================================================================================== */



/* ======== START - Elements ======================================================================================== */
// .heading-blk - .heading-block
.heading-blk {
    margin: 140px 0 0 0;
    height: 110px;

    // .heading-blk__desc - .heading-block__description
    .heading-blk__desc {
        margin: 0 0 6px 18px;

        p {
            margin: 0;
        }
    }

    .heading-blk__name {
        display: inline-block;
        position: absolute;
        z-index: 20;
        margin: 12px 0 0 0;
        border-radius: 10px;
        padding: 12px 22px 10px 22px;
        background-color: var(--heading-blk-base);
    }

    .heading-blk__border {
        display: inline-block;
        position: absolute;
        z-index: 10;
        margin: 0 0 0 12px;
        border-radius: 10px;
        border: solid 3px var(--heading-blk-border);
        padding: 12px 22px 2px 22px;
    }
}

.btn-full {
    padding: 8px 20px;

    border-width: 0;
    background-color: var(--color-4);
    border-radius: 10px;
    font-family: "Poppins SemiBold", serif;
    font-size: 14px;
    color: var(--color-1);

    transition: background-color 0.3s linear;

    &:hover {
        background-color: var(--color-5);
    }
}

.btn-light {
    padding: 8px 20px;

    border: var(--color-4) solid 2px;
    border-radius: 10px;
    font-family: "Poppins SemiBold", serif;
    font-size: 14px;
    color: var(--color-4);

    transition: color 0.3s linear, border-color 0.3s linear;

    &:hover {
        color: var(--color-5);
        border-color: var(--color-5);
    }
}
/* ======== END - Elements ========================================================================================== */



/* ======== START - Universal block positions  ====================================================================== */
// .pos-hdg - .position-heading
.pos-hdg {
    width: 100%;
    margin: 90px 0 0 0;
}
/* ======== END - Universal block positions ========================================================================= */

/* ======== END - base ============================================================================================== */