/* ======== START - base ============================================================================================ */

// -------- START - text, title ----------------------------------------------------------------------------------------
.heading-xxl {
    font-family: "Poppins Bold", serif;
    font-size: 2.875em;
    color: var(--color-5);
    text-transform: uppercase;
}

.heading-1 h1 {
    font-size: 38px;
    font-family: "Poppins Bold", serif;
    color: var(--color-5);
    text-transform: uppercase
}

.heading-2 h2 {
    font-size: 24px;
    font-family: "Poppins Bold", serif;
    color: var(--color-5);
}

.heading-3 h3 {
    font-size: 18px;
    font-family: "Poppins SemiBold", serif;
    color: var(--color-4);
}

.heading-4 h4 {
    font-size: 14px;
    font-family: "Poppins Medium", serif;
    color: var(--color-6);
}

.text p {
    font-family: "Poppins Regular", serif;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-6);
}


//-------------------------------------
.title {
    font-size: 38px;
    font-family: "Poppins Bold", serif;
    color: var(--color-1);
    text-transform: uppercase;
}

.text-title {
    font-family: "Poppins Regular", serif;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-5);
}


.text ul li {
    font-family: "Poppins Regular", serif;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-6);
}

.text ul li span {
    font-family: "Poppins SemiBold", serif;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-4);
}

.title-sub h2 {
    font-size: 24px;
    font-family: "Poppins Bold", serif;
    color: var(--color-5);
}

.title-sub--position {
    margin: 70px 0 0 0;
}

// -------- END - text, title ------------------------------------------------------------------------------------------


// -------- START - .title-block ---------------------------------------------------------------------------------------
// .title-blk - .title-block
.title-blk {
    margin: 140px 0 0 0;
    height: 110px;
}

.title-blk__description {
    margin: 0 0 6px 18px;
}

.title-blk__description p {
    margin: 0;
}

.title-blk__txt {
    display: inline-block;
    position: absolute;
    z-index: 20;
    margin: 12px 0 0 0;
    border-radius: 10px;
    padding: 12px 22px 2px 22px;
    background-color: var(--color-4);
}

.title-blk__border {
    display: inline-block;
    position: absolute;
    z-index: 10;
    margin: 0 0 0 12px;
    border-radius: 10px;
    border: solid 3px var(--color-3);
    padding: 12px 22px 2px 22px;
}

// -------- END - .title-block -----------------------------------------------------------------------------------------


// -------- START - button ---------------------------------------------------------------------------------------------

.button-full {
    padding: 8px 20px;

    border-width: 0;
    background-color: var(--color-4);
    border-radius: 10px;
    font-family: "Poppins SemiBold", serif;
    font-size: 14px;
    color: var(--color-1);

    transition: background-color 0.3s linear;
}

.button-full:hover {
    background-color: var(--color-5);
}

.button-light {
    padding: 8px 20px;

    border: var(--color-4) solid 2px;
    border-radius: 10px;
    font-family: "Poppins SemiBold", serif;
    font-size: 14px;
    color: var(--color-4);

    transition: color 0.3s linear, border-color 0.3s linear;
}

.button-light:hover {
    color: var(--color-5);
    border-color: var(--color-5);
}

/* ======== END - base ============================================================================================== */