/* ======== START - .header-top ===================================================================================== */
.header-top {
    background-color: var(--color-3);
    padding: 0 60px;
    position: relative;
}

@media (max-width: 1024px) {
    .header-top {
        padding: 0 30px;
    }
}

@media (max-width: 640px) {
    .header-top {
        padding: 0 10px;
    }
}

.header-top__sub {
    max-width: 1800px;
    height: 64px;
    margin: auto;
}

.logo {
    display: inline-block;
    margin: 28px 0 0 14px;
}

.contact-info {
    display: inline-block;
    margin-left: 190px;
}

@media (max-width: 1600px) {
    .contact-info {
        display: none;
    }
}

.contact-info ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact-info ul li a {
    color: var(--color-4);
    text-decoration: none;
}

.contact-info ul li:last-child {
    margin-left: 70px;
}

// -------- START - .nav -----------------------------------------------------------------------------------------------
.nav {
    display: inline-block;
    float: right;
    margin: 0 14px 0 0;
}

@media (max-width: 1024px) {
    .nav {
        display: none;
    }
}

.nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nav ul li a {
    height: 64px;

    display: block;
    padding: 34px 14px 0 14px;

}
// -------- END - .nav -------------------------------------------------------------------------------------------------


// -------- START - .nav-right ---------------------------------------------------------------------------------------
.nav-right-open {
    float: right;
    margin: 24px 14px 0 0;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}

@media (min-width: 1024px) {
    .nav-right-open {
        display: none;
    }
}

.nav-right-open svg {
    width: 32px;
    height: 32px;
    fill: var(--color-4);
}

.nav-right {
    width: 250px;
    height: 100vh;

    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    z-index: 50;

    background-color: var(--color-4);
}

.nav-right__item {
    margin: 200px 0 0 50px;
}

.nav-right__item ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nav-right__item ul li {
    margin-top: 14px;

    &:first-child {
        margin-top: 0;
    }
}

.nav-right-close {
    float: right;
    margin: 24px 48px 0 0;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}

.nav-right-close svg {
    width: 32px;
    height: 32px;
    fill: var(--color-1);
}
// -------- END - .nav-right -----------------------------------------------------------------------------------------
/* ======== END - .header-top ======================================================================================= */