/*
START - .header-base
------------------------------------------------------------------------------------------------------------------------
*/
.header-base {
  background-color: $clrA3;
  padding: 0 60px;
}

@media (max-width: 1024px) {
  .header-base {
    padding: 0 30px;
  }
}

@media (max-width: 640px) {
  .header-base {
    padding: 0 10px;
  }
}

.wrap-headbas {
  max-width: 1800px;
  min-height: calc(100vh - 64px); // header-top - height: 64px
  margin: auto;
}



// START - .human-info
//----------------------------------------------------------------------------------------------------------------------
.human-info {
  width: 500px;

  display: flex;
  flex-direction: column;
  position: absolute;
  margin: auto;
  top: auto;
  left: 0;
  bottom: 190px;
  right: 0;
  z-index: 30;
}

.human-info div {
  margin: 0 0 6px 0;
}

.human-info div:first-child {
  border-radius: 10px 10px 0 0;
}

.human-info div:last-child {
  border-radius: 0 0 10px 10px;
}

.human-info__name {
  display: inline-block;
  padding: 2px 20px 0 20px;
  font-family: "Poppins Bold", serif;
  font-size: 2.875em; // 46px
  color: $clrA1;
  background-color: $clrA4;
  text-transform: uppercase;
}

.human-info__specialty {
  display: inline-block;
  padding: 5px 20px 5px 20px;
  font-family: "Poppins Bold", serif;
  font-size: 24px;
  color: $clrA5;
  background-color: $clrA1;
}

.human-info__about {
  display: inline-block;
  padding: 10px 20px 12px 20px;
  font-family: "Poppins Regular", serif;
  font-size: 14px;
  color: $clrA6;
  background-color: $clrA1;

  line-height: 23px;
}
// END
//----------------------------------------------------------------------------------------------------------------------



// START - .human-img
//----------------------------------------------------------------------------------------------------------------------
.human-img {
  width: 620px;
  height: 900px;

  position: absolute;
  margin: auto;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
}

.human-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
}

// END
//----------------------------------------------------------------------------------------------------------------------



// START - .circles
//----------------------------------------------------------------------------------------------------------------------
.circles {
  width: 900px;
  height: 900px;

  position: absolute;
  margin: auto;
  top: auto;
  left: 0;
  bottom: 140px;
  right: 0;
}
// END
//----------------------------------------------------------------------------------------------------------------------



// START - .footer-top
//----------------------------------------------------------------------------------------------------------------------
.footer-top {
  max-width: 1800px;
  height: 48px;

  position: relative;
  z-index: 40;
  top: calc(100vh - 48px - 64px); // header-top - height: 64px
}

.wrap-foottop {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 640px) {
  .wrap-foottop {
    justify-content: flex-end;
  }
}

.wrap-foottop__copyright {
  display: inline-block;
  padding: 2px 0 0 0;
  margin: 0 0 0 14px;

  font-size: 14px;
  font-family: "Poppins SemiBold", serif;
  color: $clrA4;
}

@media (max-width: 840px) {
  .wrap-foottop__copyright {
    display: none;
  }
}

.wrap-foottop__social-buttons {
  display: inline-block;
  float: right;
  margin: 0 14px 0 0;
}

@media (max-width: 840px) {
  .wrap-foottop__social-buttons {
    display: none;
  }
}

.wrap-foottop__social-buttons ul {
  display: flex;
  padding: 0;
  list-style-type: none;
}

.wrap-foottop__social-buttons ul li {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.wrap-foottop__social-buttons ul li img {
  margin: -4.8px 0 0 0;
  padding: 0;
}

// END
//----------------------------------------------------------------------------------------------------------------------


/*
END
------------------------------------------------------------------------------------------------------------------------
*/