/*
START - base
------------------------------------------------------------------------------------------------------------------------
*/


// START - Текст
//----------------------------------------------------------------------------------------------------------------------

.text p {
  font-family: "Poppins Regular", serif;
  font-size: 14px;
  line-height: 24px;
  color: $clrA6;
}

.text ul li {
  font-family: "Poppins Regular", serif;
  font-size: 14px;
  line-height: 24px;
  color: $clrA6;
}

.text ul li span {
  font-family: "Poppins SemiBold", serif;
  font-size: 14px;
  line-height: 24px;
  color: $clrA4;
}

.text-title p {
  font-family: "Poppins Regular", serif;
  font-size: 14px;
  line-height: 24px;
  color: $clrA5;
}

.title h1 {
  font-size: 38px;
  font-family: "Poppins Bold", serif;
  color: $clrA1;
  text-transform: uppercase;
}

.title-sub h2 {
  font-size: 24px;
  font-family: "Poppins Bold", serif;
  color: $clrA5;
}

.title-sub--position {
  margin: 70px 0 0 0;
}

// END
//----------------------------------------------------------------------------------------------------------------------


// START - Заголовок блока
//----------------------------------------------------------------------------------------------------------------------

// .title-blk - .title-block
.title-blk {
  margin: 140px 0 0 0;
  height: 110px;
}

.title-blk__description {
  margin: 0 0 6px 18px;
}

.title-blk__description p {
  margin: 0;
}

.title-blk__txt {
  display: inline-block;
  position: absolute;
  z-index: 20;
  margin: 12px 0 0 0;
  border-radius: 10px;
  padding: 12px 22px 2px 22px;
  background-color: $clrA4;
}

.title-blk__border {
  display: inline-block;
  position: absolute;
  z-index: 10;
  margin: 0 0 0 12px;
  border-radius: 10px;
  border: solid 3px $clrA3;
  padding: 12px 22px 2px 22px;
}

// END
//----------------------------------------------------------------------------------------------------------------------


// START - Кнопки
//----------------------------------------------------------------------------------------------------------------------

.button-full {
  padding: 8px 20px;

  border-width: 0;
  background-color: $clrA4;
  border-radius: 10px;
  font-family: "Poppins SemiBold", serif;
  font-size: 14px;
  color: $clrA1;

  transition: background-color 0.3s linear;
}

.button-full:hover {
  background-color: $clrA5;
}

.button-light {
  padding: 8px 20px;

  border: $clrA4 solid 2px;
  border-radius: 10px;
  font-family: "Poppins SemiBold", serif;
  font-size: 14px;
  color: $clrA4;

  transition: color 0.3s linear, border-color 0.3s linear;
}

.button-light:hover {
  color: $clrA5;
  border-color: $clrA5;
}

/*
END
------------------------------------------------------------------------------------------------------------------------
*/