/*
START - base
------------------------------------------------------------------------------------------------------------------------
*/

.text p {
  margin: 0;

  font-family: "Poppins Regular", serif;
  font-size: 14px;
  line-height: 24px;
  color: $clrA5;
}

.title h1 {
  font-size: 38px;
  font-family: "Poppins Bold", serif;
  color: $clrA1;
  text-transform: uppercase;
}

.title-sub h2 {
  font-size: 24px;
  font-family: "Poppins Bold", serif;
  color: $clrA5;
}

.title-large {
  font-family: "Poppins Bold", serif;
  font-size: 2.875em; // 46px
  color: $clrA1;
  text-transform: uppercase;
}


.title-blk {
  margin: 140px 0 0 0;
  height: 106px;
}

.title-blk__description {
  margin: 0 0 6px 18px;
}

.title-blk__txt {
  display: inline-block;
  position: absolute;
  z-index: 20;
  margin: 12px 0 0 0;
  border-radius: 10px;
  padding: 12px 22px 2px 22px;
  background-color: $clrA4;
}

.title-blk__border {
  display: inline-block;
  position: absolute;
  z-index: 10;
  margin: 0 0 0 12px;
  border-radius: 10px;
  border: solid 3px $clrA3;
  padding: 12px 22px 2px 22px;
}


/*
END
------------------------------------------------------------------------------------------------------------------------
*/