/* ======== START - .about ===========================================================================================*/

.about {
    background-color: var(--color-1);
}

.img-about {
    display: block;
    margin: 70px 0 0 0;
    border-radius: 10px;
}

.intro-about {
    margin: 70px 0 0 0;
}

.intro-about__text {
    margin: 20px 0 0 0;
}

.info-about {
    display: flex;
    margin: 50px 0 0 0;
}

.info-about ul {
    padding: 0;
    list-style: none;
}

.info-about ul:first-child {
    margin: 0;
}

.info-about ul:last-child {
    margin: 0 0 0 40px;
}

.info-about ul li {
    margin: 0 0 10px 0;
}

.info-about ul:first-child li:last-child {
    margin: 0;
}

.info-about ul:last-child li:last-child {
    margin: 0;
}

.info-about ul li span {
    margin: 0 14px 0 0;
}

.btn-about {
    display: flex;
    margin: 50px 0 0 0;
}

.btn-about button:last-child {
    margin: 0 0 0 30px;
}

.title-sub--position {
    margin: 70px 0 0 0;
}

/* ======== END - .about =============================================================================================*/