/* ======== START - .service =========================================================================================*/

.service {
    background-color: var(--color-1);
}


.type-service-all {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;

    .type-service {
        width: 350px;
        height: 220px;
        min-width: 350px;
        min-height: 220px;

        display: block;
        margin-top: 30px;
        border: solid 2px var(--color-3);
        border-radius: 10px;
        padding: 24px 30px 0 30px;

        h3 {
            display: block;
            position: relative;
            padding-left: 36px;

            &:before {
                display: inline-block;
                position: absolute;
                content: ' ';
                background-image: url('../images/icon-design.svg');
                background-size: 24px 24px;
                height: 24px;
                width: 24px;
                left: 0;
            }
        }

        p {
            margin-top: 20px;
        }
    }
}


.pricing-all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;

    .pricing {
        width: 350px;
        height: 600px;
        min-width: 350px;
        min-height: 600px;

        display: flex;
        flex-direction: column;
        align-items: center;


        margin-top: 30px;
        border: solid 2px var(--color-3);
        border-radius: 10px;
        padding: 40px 30px 0 30px;

        h2 {
            display: block;
        }

        small {
            display: inline-block;
        }

        .pricing__price {
            //display: inline-block;
        }

        .pricing__icon {
            //display: inline-block;
        }

        ul {
            width: 100%;
            list-style: none;
        }

        a {
            width: 100%;
        }
    }
}



/* ======== END - .service ===========================================================================================*/