/* ======== START - .portfolio =======================================================================================*/

.portfolio {
    background-color: var(--color-1);
}

.art-filter {
    display: block;
    margin: 90px 0 0 0;

    ul {
        display: flex;
        padding: 0;
        margin: 0;
        list-style-type: none;

        li:nth-child(n+2) {
            margin-left: 44px;
        }
    }
}

.art-all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .art {
        width: 350px;
        height: 240px;
        min-width: 350px;
        min-height: 240px;

        display: block;
        margin-top: 30px;
        border-radius: 10px;
        //background-color: red;
        //opacity: 0.1;

        //.art__img {
            display: block;
            //width: 350px;
            //height: 240px;
            //border-radius: 10px;
        //}

        #lala {
            opacity: 0.5;
        }

        .art__img {
            border-radius: 10px;
        }
    }
}

/* ======== END - .portfolio =========================================================================================*/