/* ======== START - .blog ============================================================================================*/

.blog {
    background-color: var(--color-1);
}

.post-all {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post {
    width: 350px;
    height: 544px;
    min-width: 350px;
    min-height: 544px;
    display: block;

    .post__link-img {
        width: 350px;
        height: 360px;
        display: block;
        overflow: hidden;
        border-radius: 10px 10px 0 0;

        &:hover img {
            transform: scale(1.2);
        }

        img {
            height: 100%;
            display: block;
            transition-property: transform;
            transition-duration: 1s;
            transition-timing-function: ease;
        }
    }

    .post__info {
        height: 185px;
        display: block;
        padding: 20px 30px 25px 30px;
        border-radius: 0 0 10px 10px;
        border: 2px solid var(--color-3);
        overflow: hidden;

        a {
            display: block;
            margin-top: 12px;

            &:hover {
                text-decoration: none;
            }


        }

        //a:hover + .post__img {
        //    transform: scale(1.2);
        //}

        p {
            margin-top: 12px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
}


/* ======== END - .blog ==============================================================================================*/