<section class="blog">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading-blk">
                    <div class="heading-blk__desc fnt-3"><p>My Blog</p></div>
                    <div class="heading-blk__name fnt-heading-1"><h1>Blog</h1></div>
                    <div class="heading-blk__border"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="grid-post">
                    <div class="container-post">
                        <div class="post">
                            <a href="blog-post.html" class="post__link-img"><img src="assets/images/00108.png"
                                                                                 alt="Picture"></a>
                            <div class="post__info fnt-heading-3 fnt">
                                <small class="fnt-small">09 February, 2020</small>
                                <a href="blog-post.html"><h3>Lorem ipsum dolor sit amet</h3></a>
                                <p>Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliqum sodales.
                                    Maecenas
                                    finibus nec sem ut imperdietim ti mperdiet imperdietimperdiet
                                    imperdietimperdiet.</p>
                            </div>
                        </div>
                        <div class="post">
                            <a href="#" class="post__link-img"><img src="assets/images/00108.png" alt="Picture"></a>
                            <div class="post__info fnt-heading-3 fnt">
                                <small class="fnt-small">09 February, 2020</small>
                                <a href="#"><h3>Lorem ipsum dolor sit amet</h3></a>
                                <p>Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliqum sodales.
                                    Maecenas
                                    finibus nec sem ut imperdietim ti mperdiet imperdietimperdiet
                                    imperdietimperdiet.</p>
                            </div>
                        </div>
                        <div class="post">
                            <a href="#" class="post__link-img"><img src="assets/images/00108.png" alt="Picture"></a>
                            <div class="post__info fnt-heading-3 fnt">
                                <small class="fnt-small">09 February, 2020</small>
                                <a href="#"><h3>Lorem ipsum dolor sit amet</h3></a>
                                <p>Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliqum sodales.
                                    Maecenas
                                    finibus nec sem ut imperdietim ti mperdiet imperdietimperdiet
                                    imperdietimperdiet.</p>
                            </div>
                        </div>
                        <div class="post">
                            <a href="#" class="post__link-img"><img src="assets/images/00108.png" alt="Picture"></a>
                            <div class="post__info fnt-heading-3 fnt">
                                <small class="fnt-small">09 February, 2020</small>
                                <a href="#"><h3>Lorem ipsum dolor sit amet</h3></a>
                                <p>Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliqum sodales.
                                    Maecenas
                                    finibus nec sem ut imperdietim ti mperdiet imperdietimperdiet
                                    imperdietimperdiet.</p>
                            </div>
                        </div>
                        <div class="post">
                            <a href="#" class="post__link-img"><img src="assets/images/00108.png" alt="Picture"></a>
                            <div class="post__info fnt-heading-3 fnt">
                                <small class="fnt-small">09 February, 2020</small>
                                <a href="#"><h3>Lorem ipsum dolor sit amet</h3></a>
                                <p>Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliqum sodales.
                                    Maecenas
                                    finibus nec sem ut imperdietim ti mperdiet imperdietimperdiet
                                    imperdietimperdiet.</p>
                            </div>
                        </div>
                        <div class="post">
                            <a href="#" class="post__link-img"><img src="assets/images/00108.png" alt="Picture"></a>
                            <div class="post__info fnt-heading-3 fnt">
                                <small class="fnt-small">09 February, 2020</small>
                                <a href="#"><h3>Lorem ipsum dolor sit amet</h3></a>
                                <p>Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliqum sodales.
                                    Maecenas
                                    finibus nec sem ut imperdietim ti mperdiet imperdietimperdiet
                                    imperdicetimperdiet.</p>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-post">
                        <div class="search-post">
                            <input type="text" name="search" placeholder="Search...">
                            <button><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                        <div class="archive">
                            <div class="archive__title fnt-heading-3"><h3>Archives</h3></div>
                            <div class="archive__list">
                                <ul>
                                    <li class="fnt-heading-4">
                                        <h4><a href="#">May 2020</a></h4>
                                    </li>
                                    <li class="fnt-heading-4">
                                        <h4><a href="#">June 2020</a></h4>
                                    </li>
                                    <li class="fnt-heading-4">
                                        <h4><a href="#">August 2020</a></h4>
                                    </li>
                                    <li class="fnt-heading-4">
                                        <h4><a href="#">September 2020</a></h4>
                                    </li>
                                    <li class="fnt-heading-4">
                                        <h4><a href="#">November 2020</a></h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="recent-post">
                            <div class="recent-post__title fnt-heading-3"><h3>Recent Posts</h3></div>
                            <div class="recent-post__list">
                                <ul>
                                    <li class="fnt-heading-4 fnt-small-light">
                                        <h4><a href="#">Lorem ipsum dolor</a></h4>
                                        <span>04 January, 2021  </span>
                                    </li>
                                    <li class="fnt-heading-4 fnt-small-light">
                                        <h4><a href="#">Lorem ipsum dolor sit</a></h4>
                                        <span>04 January, 2021  </span>
                                    </li>
                                    <li class="fnt-heading-4 fnt-small-light">
                                        <h4><a href="#">Lorem ipsum dolor</a></h4>
                                        <span>14 February, 2021  </span>
                                    </li>
                                    <li class="fnt-heading-4 fnt-small-light">
                                        <h4><a href="#">Lorem ipsum dolor</a></h4>
                                        <span>14 February, 2021  </span>
                                    </li>
                                    <li class="fnt-heading-4 fnt-small-light">
                                        <h4><a href="#">Lorem ipsum dolor</a></h4>
                                        <span>18 March, 2021  </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tag-post">
                            <div class="tag-post__title fnt-heading-3"><h3>Tags</h3></div>
                            <div class="tag-post__list">
                                <ul>
                                    <li><a class="tag-link" href="#">UI Design</a></li>
                                    <li><a class="tag-link" href="#">Wordpress</a></li>
                                    <li><a class="tag-link" href="#">SEO</a></li>
                                    <li><a class="tag-link" href="#">Web Development</a></li>
                                    <li><a class="tag-link" href="#">JavaScript</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="crumb-page">
                        <ul>
                            <li><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href=""><i class="fa fa-angle-right fa-2x" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>