<section class="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="error">
                    <div class="error-wrapper">
                        <img src="assets/images/404.png" alt="Error 404" />
                        <h1 class="error-title">Ooops! Page nod found.</h1>
                        <button class="btn-full" onclick="document.location='index.html'">Back to Home</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>