<footer class="footer">
    <div class="footer__sub">
        <div class="copyright">© 2020 Nuno</div>
        <div class="social-buttons">
            <ul>
                <li><img src="assets/images/soc-facebook.svg" alt="facebook"></li>
                <li><img src="assets/images/soc-instagram.svg" alt="instagram"></li>
                <li><img src="assets/images/soc-twitter.svg" alt="twitter"></li>
                <li><img src="assets/images/soc-behance.svg" alt="behance"></li>
                <li><img src="assets/images/soc-dribbble.svg" alt="dribbble"></li>
            </ul>
        </div>
    </div>
</footer>