<!-------- START - Footer --------------------------------------------------------------------------------------------->
<footer class="footer footer-bottom--indent">
    <div class="container">
        <div class="col-12">
            <div class="footer-bottom">
                <div class="copyright copyright--white"><span>© 2022 Nuno</span></div>
                <div class="social-link">
                    <ul class="social-link__list">
                        <li><a class="social-link__item" href="#" target="_blank"><svg><use xlink:href="assets/images/icon-alpha.svg#num-34w" /></svg></a></li>
                        <li><a class="social-link__item" href="#" target="_blank"><svg><use xlink:href="assets/images/icon-alpha.svg#num-35w" /></svg></a></li>
                        <li><a class="social-link__item" href="#" target="_blank"><svg><use xlink:href="assets/images/icon-alpha.svg#num-36w" /></svg></a></li>
                        <li><a class="social-link__item" href="#" target="_blank"><svg><use xlink:href="assets/images/icon-alpha.svg#num-32w" /></svg></a></li>
                        <li><a class="social-link__item" href="#" target="_blank"><svg><use xlink:href="assets/images/icon-alpha.svg#num-33w" /></svg></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-------- END - Footer ----------------------------------------------------------------------------------------------->