<!-------- START - Footer --------------------------------------------------------------------------------------------->
<footer class="footer footer-bottom--indent">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-bottom">
                    <div class="copyright copyright--white"><span>© 2022 Nuno</span></div>
                    <div class="social-link">
                        <ul class="social-link__list">
                            <li><a class="social-link__item social-link--white" href="#" target="_blank"><span class="i-soc-facebook"></span></a></li>
                            <li><a class="social-link__item social-link--white" href="#" target="_blank"><span class="i-soc-instagram"></span></a></li>
                            <li><a class="social-link__item social-link--white" href="#" target="_blank"><span class="i-soc-twitter"></span></a></li>
                            <li><a class="social-link__item social-link--white" href="#" target="_blank"><span class="i-soc-behance"></span></a></li>
                            <li><a class="social-link__item social-link--white" href="#" target="_blank"><span class="i-soc-dribbble"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-------- END - Footer ----------------------------------------------------------------------------------------------->