<header class="header-base">
    <div class="wrap-headbas" id="wrapHeadBas">

        <div class="human-info" id="hmnInfo">
            <ul>
                <li><div class="human-info__name" id="hmnName">Morticia Addams</div></li>
                <li><div class="human-info__specialty" id="hmnSpec">Front End Developer & UI Designer</div></li>
                <li>
                    <div class="human-info__about" id="hmnAbout">
                        Innovative Front End Developer with 5 years experience
                        building and maintaining responsive websites
                        in the recruiting industry. Proficient in HTML, CSS, JavaScript.
                    </div>
                </li>
            </ul>
        </div>

        <div class="human-img" id="humImg">
            <img src="assets/images/girl.png" alt="Morticia Addams">
        </div>

        <div class="circles" id="cir">
            <svg viewBox="0 0 900 900" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_f)">
                    <path d="M880 460C880 691.96 691.96 880 460 880C228.04 880 40 691.96 40 460C40 228.04 228.04 40 460 40C691.96 40 880 228.04 880 460Z"
                          fill="black" fill-opacity="0.25"/>
                </g>
                <path d="M880 460C880 691.96 691.96 880 460 880C228.04 880 40 691.96 40 460C40 228.04 228.04 40 460 40C691.96 40 880 228.04 880 460Z"
                      fill="white"/>
                <g filter="url(#filter1_f)">
                    <path d="M740 460C740 614.64 614.64 740 460 740C305.36 740 180 614.64 180 460C180 305.36 305.36 180 460 180C614.64 180 740 305.36 740 460Z"
                          fill="black" fill-opacity="0.25"/>
                </g>
                <path d="M740 460C740 614.64 614.64 740 460 740C305.36 740 180 614.64 180 460C180 305.36 305.36 180 460 180C614.64 180 740 305.36 740 460Z"
                      fill="white"/>
                <g filter="url(#filter2_f)">
                    <path d="M600 460C600 537.32 537.32 600 460 600C382.68 600 320 537.32 320 460C320 382.68 382.68 320 460 320C537.32 320 600 382.68 600 460Z"
                          fill="black" fill-opacity="0.25"/>
                </g>
                <path d="M600 460C600 537.32 537.32 600 460 600C382.68 600 320 537.32 320 460C320 382.68 382.68 320 460 320C537.32 320 600 382.68 600 460Z"
                      fill="white"/>
                <defs>
                    <filter id="filter0_f" x="0" y="0" width="920" height="920" filterUnits="userSpaceOnUse"
                            color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="20" result="effect1_foregroundBlur"/>
                    </filter>
                    <filter id="filter1_f" x="140" y="140" width="640" height="640" filterUnits="userSpaceOnUse"
                            color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="20" result="effect1_foregroundBlur"/>
                    </filter>
                    <filter id="filter2_f" x="280" y="280" width="360" height="360" filterUnits="userSpaceOnUse"
                            color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="20" result="effect1_foregroundBlur"/>
                    </filter>
                </defs>
            </svg>
        </div>

        <div class="footer-top">
            <div class="wrap-foottop">
                <div class="wrap-foottop__copyright">© 2020 Nuno</div>
                <div class="wrap-foottop__social-buttons">
                    <ul>
                        <li><a href="#" target="_blank"><img src="assets/images/soc-facebook.svg" alt="facebook"></a></li>
                        <li><a href="#" target="_blank"><img src="assets/images/soc-instagram.svg" alt="instagram"></a></li>
                        <li><a href="#" target="_blank"><img src="assets/images/soc-twitter.svg" alt="twitter"></a></li>
                        <li><a href="#" target="_blank"><img src="assets/images/soc-behance.svg" alt="behance"></a></li>
                        <li><a href="#" target="_blank"><img src="assets/images/soc-dribbble.svg" alt="dribbble"></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</header>