<header class="header">
    <div class="container">
        <div class="logo">logo</div>
        <div class="contact-header">
            <ul class="contactlist">
                <li><a href="mailto:addams@gmail.com">addams@gmail.com</a></li>
                <li><a href="tel:+1138049098">+113-804-9098</a></li>
            </ul>
        </div>
        <nav class="nav">
            <ul class="navlist">
                <li><a class="navitem" href="#">Home</a></li>
                <li><a class="navitem" href="#">About</a></li>
                <li><a class="navitem" href="#">Services</a></li>
                <li><a class="navitem" href="#">Portfolio</a></li>
                <li><a class="navitem" href="#">Clients</a></li>
                <li><a class="navitem" href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>