<section class="portfolio" id="portfolio">
    <hr class="title-hr">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-section title-section--indent-2">
                    <div class="title-section__description"><p>My Best works</p></div>
                    <div class="title-section__heading"><h1>Portfolio</h1></div>
                    <div class="title-section__border"></div>
                </div>
                <div class="path">
                    <ul class="path__list">
                        <li class="path__item"><a href="index.html">Home</a></li>
                        <li class="path__item">Portfolio</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="art-filter art-filter--indent">
                    <ul class="art-filter__list">
                        <li class="filter"><button class="btn-filter btn-filter--active" data-filter="*" href="#">All</button></li>
                        <li class="filter"><button class="btn-filter" data-filter=".sketch" href="#">Sketch</button></li>
                        <li class="filter"><button class="btn-filter" data-filter=".graphic" href="#">Graphic</button></li>
                        <li class="filter"><button class="btn-filter" data-filter=".ui-elements" href="#">UI Elements</button></li>
                        <li class="filter"><button class="btn-filter" data-filter=".web-design" href="#">Web Design</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row portfolio-items portfolio-items--height">
            <div class="col-xl-4 col-lg-6 portfolio-item sketh">
                <div class="art">
                    <a class="art__link" href="portfolio-single.html">
                        <svg viewBox="0 0 350 240" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <mask id="m01">
                                    <clipPath id="c01">
                                        <rect x="0" y="0" width="100%" height="100%" rx="10"/>
                                    </clipPath>
                                    <rect fill="#373737" x="0" y="0" width="350" height="240" rx="10"></rect>
                                    <circle class="mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>
                                </mask>
                            </defs>
                            <rect class="art__hover-background" x="0" y="0" width="350" height="240" rx="10"/>
                            <image mask="url(#m01)" clip-path="url(#c01)" xmlns:xlink="http://www.w3.org/1999/xlink"
                                   xlink:href="assets/images/00101.png"/>
                        </svg>
                        <div class="art__title"><h4>Title Project</h4></div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 portfolio-item sketh">
                <div class="art">
                    <a class="art__link" href="portfolio-single.html">
                        <svg viewBox="0 0 350 240" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <mask id="m02">
                                    <clipPath id="c02">
                                        <rect x="0" y="0" width="100%" height="100%" rx="10"/>
                                    </clipPath>
                                    <rect fill="#373737" x="0" y="0" width="350" height="240" rx="10"></rect>
                                    <circle class="mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>
                                </mask>
                            </defs>
                            <rect class="art__hover-background" x="0" y="0" width="350" height="240" rx="10"/>
                            <image mask="url(#m02)" clip-path="url(#c02)" xmlns:xlink="http://www.w3.org/1999/xlink"
                                   xlink:href="assets/images/00102.png"/>
                        </svg>
                        <div class="art__title"><h4>Title Project</h4></div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 portfolio-item graphic">
                <div class="art">
                    <a class="art__link" href="portfolio-single.html">
                        <svg viewBox="0 0 350 240" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <mask id="m03">
                                    <clipPath id="c03">
                                        <rect x="0" y="0" width="100%" height="100%" rx="10"/>
                                    </clipPath>
                                    <rect fill="#373737" x="0" y="0" width="350" height="240" rx="10"></rect>
                                    <circle class="mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>
                                </mask>
                            </defs>
                            <rect class="art__hover-background" x="0" y="0" width="350" height="240" rx="10"/>
                            <image mask="url(#m03)" clip-path="url(#c03)" xmlns:xlink="http://www.w3.org/1999/xlink"
                                   xlink:href="assets/images/00103.png"/>
                        </svg>
                        <div class="art__title"><h4>Title Project</h4></div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 portfolio-item graphic">
                <div class="art">
                    <a class="art__link" href="portfolio-single.html">
                        <svg viewBox="0 0 350 240" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <mask id="m04">
                                    <clipPath id="c04">
                                        <rect x="0" y="0" width="100%" height="100%" rx="10"/>
                                    </clipPath>
                                    <rect fill="#373737" x="0" y="0" width="350" height="240" rx="10"></rect>
                                    <circle class="mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>
                                </mask>
                            </defs>
                            <rect class="art__hover-background" x="0" y="0" width="350" height="240" rx="10"/>
                            <image mask="url(#m04)" clip-path="url(#c04)" xmlns:xlink="http://www.w3.org/1999/xlink"
                                   xlink:href="assets/images/00104.png"/>
                        </svg>
                        <div class="art__title"><h4>Title Project</h4></div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 portfolio-item ui-elements graphic">
                <div class="art">
                    <a class="art__link" href="portfolio-single.html">
                        <svg viewBox="0 0 350 240" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <mask id="m05">
                                    <clipPath id="c05">
                                        <rect x="0" y="0" width="100%" height="100%" rx="10"/>
                                    </clipPath>
                                    <rect fill="#373737" x="0" y="0" width="350" height="240" rx="10"></rect>
                                    <circle class="mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>
                                </mask>
                            </defs>
                            <rect class="art__hover-background" x="0" y="0" width="350" height="240" rx="10"/>
                            <image mask="url(#m05)" clip-path="url(#c05)" xmlns:xlink="http://www.w3.org/1999/xlink"
                                   xlink:href="assets/images/00105.png"/>
                        </svg>
                        <div class="art__title"><h4>Title Project</h4></div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 portfolio-item ui-elements sketch">
                <div class="art">
                    <a class="art__link" href="portfolio-single.html">
                        <svg viewBox="0 0 350 240" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <mask id="m06">
                                    <clipPath id="c06">
                                        <rect x="0" y="0" width="100%" height="100%" rx="10"/>
                                    </clipPath>
                                    <rect fill="#373737" x="0" y="0" width="350" height="240" rx="10"></rect>
                                    <circle class="mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>
                                </mask>
                            </defs>
                            <rect class="art__hover-background" x="0" y="0" width="350" height="240" rx="10"/>
                            <image mask="url(#m06)" clip-path="url(#c06)" xmlns:xlink="http://www.w3.org/1999/xlink"
                                   xlink:href="assets/images/00106.png"/>
                        </svg>
                        <div class="art__title"><h4>Title Project</h4></div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 portfolio-item web-design">
                <div class="art">
                    <a class="art__link" href="portfolio-single.html">
                        <svg viewBox="0 0 350 240" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <mask id="m07">
                                    <clipPath id="c07">
                                        <rect x="0" y="0" width="100%" height="100%" rx="10"/>
                                    </clipPath>
                                    <rect fill="#373737" x="0" y="0" width="350" height="240" rx="10"></rect>
                                    <circle class="mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>
                                </mask>
                            </defs>
                            <rect class="art__hover-background" x="0" y="0" width="350" height="240" rx="10"/>
                            <image mask="url(#m07)" clip-path="url(#c07)" xmlns:xlink="http://www.w3.org/1999/xlink"
                                   xlink:href="assets/images/00107.png"/>
                        </svg>
                        <div class="art__title"><h4>Title Project</h4></div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 portfolio-item web-design">
                <div class="art">
                    <a class="art__link" href="portfolio-single.html">
                        <svg viewBox="0 0 350 240" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <mask id="m08">
                                    <clipPath id="c08">
                                        <rect x="0" y="0" width="100%" height="100%" rx="10"/>
                                    </clipPath>
                                    <rect fill="#373737" x="0" y="0" width="350" height="240" rx="10"></rect>
                                    <circle class="mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>
                                </mask>
                            </defs>
                            <rect class="art__hover-background" x="0" y="0" width="350" height="240" rx="10"/>
                            <image mask="url(#m08)" clip-path="url(#c08)" xmlns:xlink="http://www.w3.org/1999/xlink"
                                   xlink:href="assets/images/00108.png"/>
                        </svg>
                        <div class="art__title"><h4>Title Project</h4></div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 portfolio-item sketch web-design">
                <div class="art">
                    <a class="art__link" href="portfolio-single.html">
                        <svg viewBox="0 0 350 240" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <mask id="m09">
                                    <clipPath id="c09">
                                        <rect x="0" y="0" width="100%" height="100%" rx="10"/>
                                    </clipPath>
                                    <rect fill="#373737" x="0" y="0" width="350" height="240" rx="10"></rect>
                                    <circle class="mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>
                                </mask>
                            </defs>
                            <rect class="art__hover-background" x="0" y="0" width="350" height="240" rx="10"/>
                            <image mask="url(#m09)" clip-path="url(#c09)" xmlns:xlink="http://www.w3.org/1999/xlink"
                                   xlink:href="assets/images/00109.png"/>
                        </svg>
                        <div class="art__title"><h4>Title Project</h4></div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 portfolio-item sketch web-design">
                <div class="art">
                    <a class="art__link" href="portfolio-single.html">
                        <svg viewBox="0 0 350 240" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <mask id="m10">
                                    <clipPath id="c10">
                                        <rect x="0" y="0" width="100%" height="100%" rx="10"/>
                                    </clipPath>
                                    <rect fill="#373737" x="0" y="0" width="350" height="240" rx="10"></rect>
                                    <circle class="mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>
                                </mask>
                            </defs>
                            <rect class="art__hover-background" x="0" y="0" width="350" height="240" rx="10"/>
                            <image mask="url(#m10)" clip-path="url(#c10)" xmlns:xlink="http://www.w3.org/1999/xlink"
                                   xlink:href="assets/images/00103.png"/>
                        </svg>
                        <div class="art__title"><h4>Title Project</h4></div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 portfolio-item sketch web-design">
                <div class="art">
                    <a class="art__link" href="portfolio-single.html">
                        <svg viewBox="0 0 350 240" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <mask id="m11">
                                    <clipPath id="c11">
                                        <rect x="0" y="0" width="100%" height="100%" rx="10"/>
                                    </clipPath>
                                    <rect fill="#373737" x="0" y="0" width="350" height="240" rx="10"></rect>
                                    <circle class="mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>
                                </mask>
                            </defs>
                            <rect class="art__hover-background" x="0" y="0" width="350" height="240" rx="10"/>
                            <image mask="url(#m11)" clip-path="url(#c11)" xmlns:xlink="http://www.w3.org/1999/xlink"
                                   xlink:href="assets/images/00101.png"/>
                        </svg>
                        <div class="art__title"><h4>Title Project</h4></div>
                    </a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 portfolio-item sketch web-design">
                <div class="art">
                    <a class="art__link" href="portfolio-single.html">
                        <svg viewBox="0 0 350 240" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <mask id="m12">
                                    <clipPath id="c12">
                                        <rect x="0" y="0" width="100%" height="100%" rx="10"/>
                                    </clipPath>
                                    <rect fill="#373737" x="0" y="0" width="350" height="240" rx="10"></rect>
                                    <circle class="mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>
                                </mask>
                            </defs>
                            <rect class="art__hover-background" x="0" y="0" width="350" height="240" rx="10"/>
                            <image mask="url(#m12)" clip-path="url(#c12)" xmlns:xlink="http://www.w3.org/1999/xlink"
                                   xlink:href="assets/images/00107.png"/>
                        </svg>
                        <div class="art__title"><h4>Title Project</h4></div>
                    </a>
                </div>
            </div>
<!--            <div class="col-xl-4 col-lg-6 portfolio-item sketch web-design">-->
<!--                <div class="art">-->
<!--                    <a class="art__link" href="portfolio-single.html">-->
<!--                        <svg viewBox="0 0 350 240" xmlns="http://www.w3.org/2000/svg">-->
<!--                            <defs>-->
<!--                                <mask id="m13">-->
<!--                                    <clipPath id="c13">-->
<!--                                        <rect x="0" y="0" width="100%" height="100%" rx="10"/>-->
<!--                                    </clipPath>-->
<!--                                    <rect fill="#373737" x="0" y="0" width="350" height="240" rx="10"></rect>-->
<!--                                    <circle class="mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>-->
<!--                                </mask>-->
<!--                            </defs>-->
<!--                            <rect class="art__hover-background" x="0" y="0" width="350" height="240" rx="10"/>-->
<!--                            <image mask="url(#m13)" clip-path="url(#c13)" xmlns:xlink="http://www.w3.org/1999/xlink"-->
<!--                                   xlink:href="assets/images/00108.png"/>-->
<!--                        </svg>-->
<!--                        <div class="art__title"><h4>Title Project</h4></div>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-xl-4 col-lg-6 portfolio-item sketch web-design">-->
<!--                <div class="art">-->
<!--                    <a class="art__link" href="portfolio-single.html">-->
<!--                        <svg viewBox="0 0 350 240" xmlns="http://www.w3.org/2000/svg">-->
<!--                            <defs>-->
<!--                                <mask id="m14">-->
<!--                                    <clipPath id="c14">-->
<!--                                        <rect x="0" y="0" width="100%" height="100%" rx="10"/>-->
<!--                                    </clipPath>-->
<!--                                    <rect fill="#373737" x="0" y="0" width="350" height="240" rx="10"></rect>-->
<!--                                    <circle class="mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>-->
<!--                                </mask>-->
<!--                            </defs>-->
<!--                            <rect class="art__hover-background" x="0" y="0" width="350" height="240" rx="10"/>-->
<!--                            <image mask="url(#m14)" clip-path="url(#c14)" xmlns:xlink="http://www.w3.org/1999/xlink"-->
<!--                                   xlink:href="assets/images/00103.png"/>-->
<!--                        </svg>-->
<!--                        <div class="art__title"><h4>Title Project</h4></div>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-xl-4 col-lg-6 portfolio-item sketch web-design">-->
<!--                <div class="art">-->
<!--                    <a class="art__link" href="portfolio-single.html">-->
<!--                        <svg viewBox="0 0 350 240" xmlns="http://www.w3.org/2000/svg">-->
<!--                            <defs>-->
<!--                                <mask id="m15">-->
<!--                                    <clipPath id="c15">-->
<!--                                        <rect x="0" y="0" width="100%" height="100%" rx="10"/>-->
<!--                                    </clipPath>-->
<!--                                    <rect fill="#373737" x="0" y="0" width="350" height="240" rx="10"></rect>-->
<!--                                    <circle class="mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>-->
<!--                                </mask>-->
<!--                            </defs>-->
<!--                            <rect class="art__hover-background" x="0" y="0" width="350" height="240" rx="10"/>-->
<!--                            <image mask="url(#m15)" clip-path="url(#c15)" xmlns:xlink="http://www.w3.org/1999/xlink"-->
<!--                                   xlink:href="assets/images/00102.png"/>-->
<!--                        </svg>-->
<!--                        <div class="art__title"><h4>Title Project</h4></div>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-xl-4 col-lg-6 portfolio-item sketch web-design">-->
<!--                <div class="art">-->
<!--                    <a class="art__link" href="portfolio-single.html">-->
<!--                        <svg viewBox="0 0 350 240" xmlns="http://www.w3.org/2000/svg">-->
<!--                            <defs>-->
<!--                                <mask id="m16">-->
<!--                                    <clipPath id="c16">-->
<!--                                        <rect x="0" y="0" width="100%" height="100%" rx="10"/>-->
<!--                                    </clipPath>-->
<!--                                    <rect fill="#373737" x="0" y="0" width="350" height="240" rx="10"></rect>-->
<!--                                    <circle class="mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>-->
<!--                                </mask>-->
<!--                            </defs>-->
<!--                            <rect class="art__hover-background" x="0" y="0" width="350" height="240" rx="10"/>-->
<!--                            <image mask="url(#m16)" clip-path="url(#c16)" xmlns:xlink="http://www.w3.org/1999/xlink"-->
<!--                                   xlink:href="assets/images/00104.png"/>-->
<!--                        </svg>-->
<!--                        <div class="art__title"><h4>Title Project</h4></div>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-xl-4 col-lg-6 portfolio-item sketch web-design">-->
<!--                <div class="art">-->
<!--                    <a class="art__link" href="portfolio-single.html">-->
<!--                        <svg viewBox="0 0 350 240" xmlns="http://www.w3.org/2000/svg">-->
<!--                            <defs>-->
<!--                                <mask id="m17">-->
<!--                                    <clipPath id="c17">-->
<!--                                        <rect x="0" y="0" width="100%" height="100%" rx="10"/>-->
<!--                                    </clipPath>-->
<!--                                    <rect fill="#373737" x="0" y="0" width="350" height="240" rx="10"></rect>-->
<!--                                    <circle class="mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>-->
<!--                                </mask>-->
<!--                            </defs>-->
<!--                            <rect class="art__hover-background" x="0" y="0" width="350" height="240" rx="10"/>-->
<!--                            <image mask="url(#m17)" clip-path="url(#c17)" xmlns:xlink="http://www.w3.org/1999/xlink"-->
<!--                                   xlink:href="assets/images/00108.png"/>-->
<!--                        </svg>-->
<!--                        <div class="art__title"><h4>Title Project</h4></div>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-xl-4 col-lg-6 portfolio-item sketch web-design">-->
<!--                <div class="art">-->
<!--                    <a class="art__link" href="portfolio-single.html">-->
<!--                        <svg viewBox="0 0 350 240" xmlns="http://www.w3.org/2000/svg">-->
<!--                            <defs>-->
<!--                                <mask id="m18">-->
<!--                                    <clipPath id="c18">-->
<!--                                        <rect x="0" y="0" width="100%" height="100%" rx="10"/>-->
<!--                                    </clipPath>-->
<!--                                    <rect fill="#373737" x="0" y="0" width="350" height="240" rx="10"></rect>-->
<!--                                    <circle class="mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>-->
<!--                                </mask>-->
<!--                            </defs>-->
<!--                            <rect class="art__hover-background" x="0" y="0" width="350" height="240" rx="10"/>-->
<!--                            <image mask="url(#m18)" clip-path="url(#c18)" xmlns:xlink="http://www.w3.org/1999/xlink"-->
<!--                                   xlink:href="assets/images/00101.png"/>-->
<!--                        </svg>-->
<!--                        <div class="art__title"><h4>Title Project</h4></div>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</section>