<section class="portfolio" id="portfolio">
    <hr class="path-hr-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="path path--indent">
                    <ul class="path__list">
                        <li class="path__item"><a href="index.html">Home</a></li>
                        <li class="path__item"><a href="portfolio.html">Portfolio</a></li>
                        <li class="path__item">Tortor eleifend congue neque interdum ut sit</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="portfolio-single">
                    <div class="portfolio-single__title"><h2>Tortor eleifend congue neque interdum ut sit</h2></div>
                    <div class="info-contact">
                        <ul class="info-contact__list">
                            <li><p class="info-contact__record">Category : <span>Graphic</span></p></li>
                            <li><p class="info-contact__record">Completed on : <span>September 30, 2021</span></p></li>
                            <li><p class="info-contact__record">Skills : <span>HTML5 / PHP / CSS3</span></p></li>
                            <li><p class="info-contact__record">Client : <span>Astrid Lindgren</span></p></li>
                        </ul>
                    </div>
                    <div class="portfolio-single__description">
                        <p>Vulputate non sit vitae eleifend nisi amet justo sit tellus. Iaculis orci tortor donec
                            bibendum eu purus. Vitae, sem id massa mattis et mattis sit dignissim. In convallis auctor
                            ac sed et nisl arcu mi. Blandit duis enim, sed id arcu eu commodo magna. Amet eget sit
                            habitant volutpat id etiam diam. Natoque tellus tortor eleifend a fames suscipit volutpat.
                            Lorem risus aliquam integer vitae, ultricies sit quam.</p>
                        <p>Mauris ultricies at tellus duis. Donec eget sit faucibus vitae, eu nibh. Posuere lectus
                            tincidunt elementum, facilisi nulla. Odio at blandit odio aliquam eu, proin arcu
                            consequat.</p>
                    </div>
                    <div class="portfolio-single__img-group">
                        <div class="portfolio-single__img"><img src="https://placehold.co/600x450" alt=""></div>
                        <div class="portfolio-single__img"><img src="https://placehold.co/600x450" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>