<section class="contact">
    <div class="container">
        <div class="title-section">
            <div class="title-section__description"><p>Send me a message</p></div>
            <div class="title-section__heading"><h1>Contact</h1></div>
            <div class="title-section__border"></div>
        </div>
        <div class="contact-container">
            <div class="map">
                <div class="heading-2">
                    <h2>Map</h2>
                </div>
            </div>
            <div class="message">
                <div class="heading-2">
                    <h2>Message Me</h2>
                </div>
            </div>
            <div class="contact-info">
                <div class="heading-2">
                    <h2>Contact Information</h2>
                </div>
            </div>
        </div>
    </div>
</section>