<!-------- START - Service Section ------------------------------------------------------------------------------------>
<section class="service" id="service">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <div class="section-title__description"><p>Offer To My Clients</p></div>
                    <div class="section-title__heading"><h1>Services</h1></div>
                    <div class="section-title__border"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="subtitle"><h2>Types of Services</h2></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6">
                <div class="type-service">
                    <div class="type-service__heading">
                        <div class="type-service__icon"><img src="assets/images/icon-design.svg"></div>
                        <h3>Graphic Design</h3>
                    </div>
                    <p>Maecenas finibus nec sem ut imperdiet.
                        Ut tincidunt est ac dolor aliquam sed an sodales. Phasellus sed mauris hendrerit,
                        laoreet sem in, lobortis ante.</p>
                    <button href="#message" class="btn-arrow">Order Now <svg><use xlink:href="#arrow" /></svg></button>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="type-service">
                    <div class="type-service__heading">
                        <div class="type-service__icon"><img src="assets/images/icon-design.svg"></div>
                        <h3>Graphic Design</h3>
                    </div>
                    <p>Maecenas finibus nec sem ut imperdiet.
                        Ut tincidunt est ac dolor aliquam sed an sodales. Phasellus sed mauris hendrerit,
                        laoreet sem in, lobortis ante.</p>
                    <button href="#message" class="btn-arrow">Order Now <svg><use xlink:href="#arrow" /></svg></button>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="type-service">
                    <div class="type-service__heading">
                        <div class="type-service__icon"><img src="assets/images/icon-design.svg"></div>
                        <h3>Graphic Design</h3>
                    </div>
                    <p>Maecenas finibus nec sem ut imperdiet.
                        Ut tincidunt est ac dolor aliquam sed an sodales. Phasellus sed mauris hendrerit,
                        laoreet sem in, lobortis ante.</p>
                    <button href="#message" class="btn-arrow">Order Now <svg><use xlink:href="#arrow" /></svg></button>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="type-service">
                    <div class="type-service__heading">
                        <div class="type-service__icon"><img src="assets/images/icon-design.svg"></div>
                        <h3>Graphic Design</h3>
                    </div>
                    <p>Maecenas finibus nec sem ut imperdiet.
                        Ut tincidunt est ac dolor aliquam sed an sodales. Phasellus sed mauris hendrerit,
                        laoreet sem in, lobortis ante.</p>
                    <button href="#message" class="btn-arrow">Order Now <svg><use xlink:href="#arrow" /></svg></button>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="type-service">
                    <div class="type-service__heading">
                        <div class="type-service__icon"><img src="assets/images/icon-design.svg"></div>
                        <h3>Graphic Design</h3>
                    </div>
                    <p>Maecenas finibus nec sem ut imperdiet.
                        Ut tincidunt est ac dolor aliquam sed an sodales. Phasellus sed mauris hendrerit,
                        laoreet sem in, lobortis ante.</p>
                    <button href="#message" class="btn-arrow">Order Now <svg><use xlink:href="#arrow" /></svg></button>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="type-service">
                    <div class="type-service__heading">
                        <div class="type-service__icon"><img src="assets/images/icon-design.svg"></div>
                        <h3>Graphic Design</h3>
                    </div>
                    <p>Maecenas finibus nec sem ut imperdiet.
                        Ut tincidunt est ac dolor aliquam sed an sodales. Phasellus sed mauris hendrerit,
                        laoreet sem in, lobortis ante.</p>
                    <button href="#message" class="btn-arrow">Order Now <svg><use xlink:href="#arrow" /></svg></button>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" display="none">
                <symbol id="arrow" height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                    <path d="M38.928,92.236l34.995-34.995c2.047-2.047,3.062-4.735,3.049-7.418  c0.013-2.683-1.002-5.37-3.049-7.417L38.928,7.41c-4.069-4.068-10.665-4.068-14.734,0c-4.069,4.069-4.069,10.666,0,14.734  l27.679,27.679L24.194,77.502c-4.069,4.069-4.069,10.665,0,14.734C28.263,96.305,34.859,96.305,38.928,92.236"></path>
                </symbol>
            </svg>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="subtitle subtitle--indent"><h2>Plans & price</h2></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6">
                <div class="price">
                    <div class="price__mark"><span>Popular</span></div>
                    <div class="price__description">
                        <h2>Basic</h2>
                        <p>Convallis lectus dui arcu maecenas ac ultrices vitae interdum.
                            Posuere nisi bibendum mauris sed quis.</p>
                    </div>
                    <div class="price__number"><span>$</span>199</div>
                    <div class="price__icon"><img src="assets/images/icon-sq1.svg"></div>
                    <div class="price__service">
                        <ul class="price__service-list">
                            <li>Сonsultation</li>
                            <li>Ui Design</li>
                            <li>Web Development</li>
                            <li style="text-decoration: line-through;">Logo design</li>
                            <li style="text-decoration: line-through;">SEO optimization</li>
                            <li style="text-decoration: line-through;">Wordpress integration</li>
                        </ul>
                    </div>
                    <div class="price__order"><button href="#message" class="btn-arrow">Order Now <svg><use xlink:href="#arrow" /></svg></button></div>
                    <div class="price__clarification"><small>Hendrerit tincidunt consectetur varius leo *</small></div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="price">
                    <div class="price__mark"><span>Popular</span></div>
                    <div class="price__description">
                        <h2>Basic</h2>
                        <p>Convallis lectus dui arcu maecenas ac ultrices vitae interdum.
                            Posuere nisi bibendum mauris sed quis.</p>
                    </div>
                    <div class="price__number"><span>$</span>199</div>
                    <div class="price__icon"><img src="assets/images/icon-sq1.svg"></div>
                    <div class="price__service">
                        <ul class="price__service-list">
                            <li>Сonsultation</li>
                            <li>Ui Design</li>
                            <li>Web Development</li>
                            <li style="text-decoration: line-through;">Logo design</li>
                            <li style="text-decoration: line-through;">SEO optimization</li>
                            <li style="text-decoration: line-through;">Wordpress integration</li>
                        </ul>
                    </div>
                    <div class="price__order"><button href="#message" class="btn-arrow">Order Now <svg><use xlink:href="#arrow" /></svg></button></div>
                    <div class="price__clarification"><small>Hendrerit tincidunt consectetur varius leo *</small></div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="price">
                    <div class="price__mark"><span>Popular</span></div>
                    <div class="price__description">
                        <h2>Basic</h2>
                        <p>Convallis lectus dui arcu maecenas ac ultrices vitae interdum.
                            Posuere nisi bibendum mauris sed quis.</p>
                    </div>
                    <div class="price__number"><span>$</span>199</div>
                    <div class="price__icon"><img src="assets/images/icon-sq1.svg"></div>
                    <div class="price__service">
                        <ul class="price__service-list">
                            <li>Сonsultation</li>
                            <li>Ui Design</li>
                            <li>Web Development</li>
                            <li style="text-decoration: line-through;">Logo design</li>
                            <li style="text-decoration: line-through;">SEO optimization</li>
                            <li style="text-decoration: line-through;">Wordpress integration</li>
                        </ul>
                    </div>
                    <div class="price__order"><button href="#message" class="btn-arrow">Order Now <svg><use xlink:href="#arrow" /></svg></button></div>
                    <div class="price__clarification"><small>Hendrerit tincidunt consectetur varius leo *</small></div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" display="none">
                <symbol id="arrow" height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                    <path d="M38.928,92.236l34.995-34.995c2.047-2.047,3.062-4.735,3.049-7.418  c0.013-2.683-1.002-5.37-3.049-7.417L38.928,7.41c-4.069-4.068-10.665-4.068-14.734,0c-4.069,4.069-4.069,10.666,0,14.734  l27.679,27.679L24.194,77.502c-4.069,4.069-4.069,10.665,0,14.734C28.263,96.305,34.859,96.305,38.928,92.236"></path>
                </symbol>
            </svg>
        </div>
    </div>
</section>
<!-------- END - Service Section -------------------------------------------------------------------------------------->