<section class="about">
    <div class="container">
        <div class="title-section">
            <div class="title-section__description"><p>Who I Am</p></div>
            <div class="title-section__heading"><h1>About</h1></div>
            <div class="title-section__border"></div>
        </div>
        <div class="info-section">
            <div class="info-img"><img src="assets/images/girl-2.png"></div>
            <div class="info-txt">
                <div class="info-content">
                    <h2 class="info-content__heading">I’m Morticia Addams</h2>
                    <p class="info-content__text">Innovative Front End Developer with 5 years experience
                        building and
                        maintaining responsive websites
                        in the recruiting industry. Proficient in HTML, CSS, JavaScript; plus modern libraries and
                        frameworks.
                        Passionate about usability and possess working knowledge of Adobe Photoshop.</p>
                </div>
                <div class="info-contact">
                    <ul class="info-contact__list">
                        <li><p class="info-contact__records">Birthday : <span>August 1990</span></p></li>
                        <li><p class="info-contact__records">Age : <span>30</span></p></li>
                        <li><p class="info-contact__records">Address : <span>Philadelphia, USA</span></p></li>
                        <li><p class="info-contact__records">Email : <span>addams@gmail.com</span></p></li>
                    </ul>
                    <ul class="info-contact__list">
                        <li><p class="info-contact__records">Phone : <span>+113-804-9098</span></p></li>
                        <li><p class="info-contact__records">Skype : <span>addams</span></p></li>
                        <li><p class="info-contact__records">Website : <span>www.addams.com</span></p></li>
                        <li><p class="info-contact__records">Freelance : <span>Available</span></p></li>
                    </ul>
                </div>
                <div class="info-button">
                    <ul class="info-button__list">
                        <li>
                            <button class="btn-full">Download CV</button>
                        </li>
                        <li>
                            <button class="btn-light">Send Message</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="info-section">
            <div class="timeline">
                <div class="timeline__heading"><h2>Education</h2></div>
                <div class="timeline__list">
                    <div class="timeline__item">
                        <div class="timeline__date">
                            <span>2009</span>
                            <small>University of Studies</small>
                        </div>
                        <div class="timeline__content">
                            <h3>UI Designer</h3>
                            <p>Duis posuere, quam non imperdiet egestas, eros enim mattis mauris,
                                in posuere lacus arcu quis felis. Etiam interdum erat non enim
                                venenatis fermentum.</p>
                        </div>
                    </div>
                    <div class="timeline__item">
                        <div class="timeline__date">
                            <span>2008</span>
                            <small>University of Studies</small>
                        </div>
                        <div class="timeline__content">
                            <h3>Graphic Design</h3>
                            <p>Donec odio gravida quisque et libero ornare risus. Diam amet mi proin condimentum
                                posuere odio. Enim tellus in semper sagittis tortor odio amet. Integer fringilla
                                nibh lacinia maecenas.</p>
                        </div>
                    </div>
                    <div class="timeline__item">
                        <div class="timeline__date">
                            <span>2007</span>
                            <small>University of Studies</small>
                        </div>
                        <div class="timeline__content">
                            <h3>Frontend Development</h3>
                            <p>Congue leo viverra natoque dui lorem penatibus. Quam diam amet, mauris pretium. Id
                                sed est, neque quis blandit donec in. Nullam ornare et ut nisi, ac.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="timeline">
                <div class="timeline__heading"><h2>Experience</h2></div>
                <div class="timeline__list">
                    <div class="timeline__item">
                        <div class="timeline__date">
                            <span>2016 - Current</span>
                            <small>Rolling Thunder</small>
                        </div>
                        <div class="timeline__content">
                            <h3>Lead UI/UX Designer</h3>
                            <p>Hendrerit laoreet integer phasellus neque nunc egestas vel tempor,
                                proin. Venenatis, urna, vel fringilla nulla. Etiam dolor sed lobortis enim purus id
                                congue gravida ornare. Amet nunc, integer quam nunc.</p>
                        </div>
                    </div>
                    <div class="timeline__item">
                        <div class="timeline__date">
                            <span>2008</span>
                            <small>University of Studies</small>
                        </div>
                        <div class="timeline__content">
                            <h3>Senior UI/UX Designer</h3>
                            <p>Sollicitudin in faucibus enim massa odio sed. Auctor adipiscing odio blandit eleifend
                                lobortis placerat. Sed a est amet sed volutpat etiam nulla egestas. Magna vulputate
                                maecenas non turpis lobortis.</p>
                        </div>
                    </div>
                    <div class="timeline__item">
                        <div class="timeline__date">
                            <span>2007</span>
                            <small>University of Studies</small>
                        </div>
                        <div class="timeline__content">
                            <h3>Junior UI/UX Designer</h3>
                            <p>Quisque et at gravida eros. Sed faucibus accumsan dui, in facilisis varius in enim
                                phasellus. Sagittis eleifend quam nisi dolor amet. Eu varius rhoncus massa est, duis
                                ornare mi sit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-section">
            <div class="circular-chart">
                <div class="circular-chart__heading"><h2>Coding Skills</h2></div>
                <div class="circular-chart__list">
                    <div class="circular-chart__item">
                        <svg class="svg-circle" viewBox="-1 -1 38 38" xmlns="http://www.w3.org/2000/svg">
                            <path class="svg-circle__background"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            <path class="svg-circle__result"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"
                                  stroke-dasharray="75, 100"/>
                            <text x="18" y="21">75%</text>
                        </svg>
                        <h4>JavaScript</h4>
                    </div>
                    <div class="circular-chart__item">
                        <svg class="svg-circle" viewBox="-1 -1 38 38" xmlns="http://www.w3.org/2000/svg">
                            <path class="svg-circle__background"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            <path class="svg-circle__result"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"
                                  stroke-dasharray="75, 100"/>
                            <text x="18" y="21">75%</text>
                        </svg>
                        <h4>JavaScript</h4>
                    </div>
                    <div class="circular-chart__item">
                        <svg class="svg-circle" viewBox="-1 -1 38 38" xmlns="http://www.w3.org/2000/svg">
                            <path class="svg-circle__background"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            <path class="svg-circle__result"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"
                                  stroke-dasharray="75, 100"/>
                            <text x="18" y="21">75%</text>
                        </svg>
                        <h4>JavaScript</h4>
                    </div>
                    <div class="circular-chart__item">
                        <svg class="svg-circle" viewBox="-1 -1 38 38" xmlns="http://www.w3.org/2000/svg">
                            <path class="svg-circle__background"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            <path class="svg-circle__result"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"
                                  stroke-dasharray="75, 100"/>
                            <text x="18" y="21">75%</text>
                        </svg>
                        <h4>JavaScript</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-section">
            <div class="circular-chart">
                <div class="circular-chart__heading"><h2>Design Skills </h2></div>
                <div class="circular-chart__list">
                    <div class="circular-chart__item">
                        <svg class="svg-circle" viewBox="-1 -1 38 38" xmlns="http://www.w3.org/2000/svg">
                            <path class="svg-circle__background"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            <path class="svg-circle__result"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"
                                  stroke-dasharray="55, 100"/>
                            <text x="18" y="21">55%</text>
                        </svg>
                        <h4>UI/UX Design</h4>
                    </div>
                    <div class="circular-chart__item">
                        <svg class="svg-circle" viewBox="-1 -1 38 38" xmlns="http://www.w3.org/2000/svg">
                            <path class="svg-circle__background"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            <path class="svg-circle__result"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"
                                  stroke-dasharray="55, 100"/>
                            <text x="18" y="21">55%</text>
                        </svg>
                        <h4>UI/UX Design</h4>
                    </div>
                    <div class="circular-chart__item">
                        <svg class="svg-circle" viewBox="-1 -1 38 38" xmlns="http://www.w3.org/2000/svg">
                            <path class="svg-circle__background"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            <path class="svg-circle__result"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"
                                  stroke-dasharray="55, 100"/>
                            <text x="18" y="21">55%</text>
                        </svg>
                        <h4>UI/UX Design</h4>
                    </div>
                    <div class="circular-chart__item">
                        <svg class="svg-circle" viewBox="-1 -1 38 38" xmlns="http://www.w3.org/2000/svg">
                            <path class="svg-circle__background"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            <path class="svg-circle__result"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"
                                  stroke-dasharray="55, 100"/>
                            <text x="18" y="21">55%</text>
                        </svg>
                        <h4>UI/UX Design</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-section">
            <div class="progress-chart">
                <div class="progress-chart__heading"><h2>Language Skills </h2></div>
                <div class="progress-chart__list">
                    <div class="progress-chart__item">
                        <div class="progress-chart__name">
                            <h4>English</h4>
                            <span>75%</span>
                        </div>
                        <svg class="svg-progress" xmlns="http://www.w3.org/2000/svg">
                            <rect class="svg-progress__background" width="100%"></rect>
                            <rect class="svg-progress__result" width="75%"></rect>
                        </svg>
                    </div>
                    <div class="progress-chart__item">
                        <div class="progress-chart__name">
                            <h4>French</h4>
                            <span>75%</span>
                        </div>
                        <svg class="svg-progress" xmlns="http://www.w3.org/2000/svg">
                            <rect class="svg-progress__background" width="100%"></rect>
                            <rect class="svg-progress__result" width="75%"></rect>
                        </svg>
                    </div>
                    <div class="progress-chart__item">
                        <div class="progress-chart__name">
                            <h4>Italian</h4>
                            <span>75%</span>
                        </div>
                        <svg class="svg-progress" xmlns="http://www.w3.org/2000/svg">
                            <rect class="svg-progress__background" width="100%"></rect>
                            <rect class="svg-progress__result" width="75%"></rect>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-section">
            <div class="certificate">
                <div class="certificate__heading"><h2>Certificates</h2></div>
                <div class="certificate__list">
                    <div class="certificate__item">
                        <div class="certificate__icon">
                            <img src="assets/images/icon-js.svg">
                        </div>
                        <div class="certificate__info fnt-heading-3 fnt fnt-small">
                            <h3>Frontend Development</h3>
                            <p>Maecenas finibus nec sem ut imperdiet. </p>
                            <small>15 August 2018</small>
                        </div>
                    </div>
                    <div class="certificate__item">
                        <div class="certificate__icon">
                            <img src="assets/images/icon-js.svg">
                        </div>
                        <div class="certificate__info fnt-heading-3 fnt fnt-small">
                            <h3>Frontend Development</h3>
                            <p>Maecenas finibus nec sem ut imperdiet. </p>
                            <small>15 August 2018</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--        <div class="certificate">-->
        <!--            <div class="heading-2"><h2>Certificates</h2></div>-->
        <!--            <div class="certificate-list">-->
        <!--                <div class="certificate-item">certificate 1</div>-->
        <!--                <div class="certificate-item">certificate 2</div>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="fact">-->
        <!--            <div class="heading-2"><h2>Fun Facts</h2></div>-->
        <!--            <div class="fact-list">-->
        <!--                <div class="fact-item">fact 1</div>-->
        <!--                <div class="fact-item">fact 2</div>-->
        <!--                <div class="fact-item">fact 3</div>-->
        <!--                <div class="fact-item">fact 4</div>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</section>