<section class="base">
    <div class="container">
        <div class="composition" id="composition">
            <div class="circle" id="circle">
                <svg viewBox="0 0 920 920" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_f)">
                        <circle id="cirLgBk" cx="460" cy="460" r="420" fill="black" fill-opacity="0.25"/>
                    </g>
                    <circle id="cirLgWht" cx="460" cy="460" r="420" fill="white"/>
                    <g filter="url(#filter1_f)">
                        <circle id="cirMedBk" cx="460" cy="460" r="320" fill="black" fill-opacity="0.25"/>
                    </g>
                    <circle id="cirMedWht" cx="460" cy="460" r="320" fill="white"/>
                    <g filter="url(#filter2_f)">
                        <circle id="cirSmBk" cx="460" cy="460" r="220" fill="black" fill-opacity="0.25"/>
                    </g>
                    <circle id="cirSmWht" cx="460" cy="460" r="220" fill="white"/>
                    <defs>
                        <filter id="filter0_f" x="0" y="0" width="920" height="920" filterUnits="userSpaceOnUse"
                                color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                            <feGaussianBlur stdDeviation="20" result="effect1_foregroundBlur"/>
                        </filter>
                        <filter id="filter1_f" x="100" y="100" width="720" height="720" filterUnits="userSpaceOnUse"
                                color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                            <feGaussianBlur stdDeviation="20" result="effect1_foregroundBlur"/>
                        </filter>
                        <filter id="filter2_f" x="200" y="200" width="520" height="520" filterUnits="userSpaceOnUse"
                                color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                            <feGaussianBlur stdDeviation="20" result="effect1_foregroundBlur"/>
                        </filter>
                    </defs>
                </svg>
            </div>
            <div class="person-img" id="personImg"><img src="assets/images/girl.png" alt="Morticia Addams"></div>
            <div class="person-info" id="personInfo">
                <div class="name" id="personName"><h1>Morticia Addams</h1></div>
                <div class="profession" id="personProfession"><h2>Front End Developer & UI Designer</h2></div>
                <div class="description" id="personDescription">
                    <p>Innovative Front End Developer with 5 years experience
                    building and maintaining responsive websites in the recruiting industry. Proficient in HTML, CSS,
                    JavaScript.</p>
                </div>
            </div>
        </div>
        <div class="footer-top">
            <div class="copyright"><span>© 2021 Nuno</span></div>
            <div class="social-button">
                <ul class="social-button-list">
                    <li><a href="#" target="_blank"><img src="assets/images/soc-facebook.svg" alt="facebook"></a></li>
                    <li><a href="#" target="_blank"><img src="assets/images/soc-instagram.svg" alt="instagram"></a></li>
                    <li><a href="#" target="_blank"><img src="assets/images/soc-twitter.svg" alt="twitter"></a></li>
                    <li><a href="#" target="_blank"><img src="assets/images/soc-behance.svg" alt="behance"></a></li>
                    <li><a href="#" target="_blank"><img src="assets/images/soc-dribbble.svg" alt="dribbble"></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>