<section class="contact">
    <div class="container">
        <div class="name-section">
            <div class="description-section"><p class="paragraph">Send me a message</p></div>
            <div class="heading-section"><h1 class="heading1">Contact</h1></div>
            <div class="border-section"></div>
        </div>
        <div class="contact-container">
            <div class="map">
                <div class="heading-2">
                    <h2>Map</h2>
                </div>
            </div>
            <div class="message">
                <div class="heading-2">
                    <h2>Message Me</h2>
                </div>
            </div>
            <div class="contact-info">
                <div class="heading-2">
                    <h2>Contact Information</h2>
                </div>
            </div>
        </div>
    </div>
</section>