<section class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-section">
                    <div class="title-section__description"><p>My Best works</p></div>
                    <div class="title-section__heading"><h1>Portfolio</h1></div>
                    <div class="title-section__border"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="art-tab">
                    <ul class="art-tab-list">
                        <li class="art-tab-item"><a href="#" class="linkname">All</a></li>
                        <li class="art-tab-item"><a href="#" class="linkname">Sketch</a></li>
                        <li class="art-tab-item"><a href="#" class="linkname">Graphic</a></li>
                        <li class="art-tab-item"><a href="#" class="linkname">UI Elements</a></li>
                        <li class="art-tab-item"><a href="#" class="linkname">Web Design</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6"><div class="art">art 1</div></div>
            <div class="col-xl-4 col-lg-6"><div class="art">art 2</div></div>
            <div class="col-xl-4 col-lg-6"><div class="art">art 3</div></div>
            <div class="col-xl-4 col-lg-6"><div class="art">art 4</div></div>
            <div class="col-xl-4 col-lg-6"><div class="art">art 5</div></div>
            <div class="col-xl-4 col-lg-6"><div class="art">art 6</div></div>
            <div class="col-xl-4 col-lg-6"><div class="art">art 7</div></div>
            <div class="col-xl-4 col-lg-6"><div class="art">art 8</div></div>
            <div class="col-xl-4 col-lg-6"><div class="art">art 9</div></div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="art-btn">
                    <button>Show More</button>
                </div>
            </div>
        </div>
    </div>
</section>