<section class="about">
    <div class="container">
        <div class="title-section">
            <div class="description"><p>Who I Am</p></div>
            <div class="heading1 background-heading-js"><h1>About</h1></div>
            <div class="borderbox border-heading-js"></div>
        </div>
        <div class="info-person">
            <div class="info-img"><img src="assets/images/girl-2.png"></div>
            <div class="info-txt">
                <div class="info-description">
                    <h2 class="heading2">I’m Morticia Addams</h2>
                    <p class="description">Innovative Front End Developer with 5 years experience
                        building and
                        maintaining responsive websites
                        in the recruiting industry. Proficient in HTML, CSS, JavaScript; plus modern libraries and
                        frameworks.
                        Passionate about usability and possess working knowledge of Adobe Photoshop.</p>
                </div>
                <div class="info-contact">
                    <ul class="info-contact-list">
                        <li class="info-item"><p class="item">Birthday : <span>August 1990</span></p></li>
                        <li class="info-item"><p class="item">Age : <span>30</span></p></li>
                        <li class="info-item"><p class="item">Address : <span>Philadelphia, USA</span></p></li>
                        <li class="info-item"><p class="item">Email : <span>addams@gmail.com</span></p></li>
                    </ul>
                    <ul class="info-contact-list">
                        <li class="info-item"><p class="item">Phone : <span>+113-804-9098</span></p></li>
                        <li class="info-item"><p class="item">Skype : <span>addams</span></p></li>
                        <li class="info-item"><p class="item">Website : <span>www.addams.com</span></p></li>
                        <li class="info-item"><p class="item">Freelance : <span>Available</span></p></li>
                    </ul>
                </div>
                <div class="info-button">
                    <button>Download CV</button>
                    <button>Send Message</button>
                </div>
            </div>
        </div>
        <div class="timeline-list">
            <div class="timeline-item">
                <div class="heading-2"><h2>Education</h2></div>
                <div class="timeline">education-timeline</div>
            </div>
            <div class="timeline-item">
                <div class="heading-2"><h2>Experience</h2></div>
                <div class="timeline">experience-timeline</div>
            </div>
        </div>
        <div class="circular-chart">
            <div class="heading-2"><h2>Coding Skills</h2></div>
            <div class="circular-chart-list">
                <div class="circular-chart-item">circular 1</div>
                <div class="circular-chart-item">circular 2</div>
                <div class="circular-chart-item">circular 3</div>
                <div class="circular-chart-item">circular 4</div>
            </div>
        </div>
        <div class="circular-chart">
            <div class="heading-2"><h2>Design Skills</h2></div>
            <div class="circular-chart-list">
                <div class="circular-chart-item">circular 1</div>
                <div class="circular-chart-item">circular 2</div>
                <div class="circular-chart-item">circular 3</div>
                <div class="circular-chart-item">circular 4</div>
            </div>
        </div>
        <div class="progress-chart">
            <div class="heading-2"><h2>Language Skills</h2></div>
            <div class="progress-chart-list">
                <div class="progress-chart-item">progress 1</div>
                <div class="progress-chart-item">progress 2</div>
                <div class="progress-chart-item">progress 3</div>
            </div>
        </div>
        <div class="certificate">
            <div class="heading-2"><h2>Certificates</h2></div>
            <div class="certificate-list">
                <div class="certificate-item">certificate 1</div>
                <div class="certificate-item">certificate 2</div>
            </div>
        </div>
        <div class="fact">
            <div class="heading-2"><h2>Fun Facts</h2></div>
            <div class="fact-list">
                <div class="fact-item">fact 1</div>
                <div class="fact-item">fact 2</div>
                <div class="fact-item">fact 3</div>
                <div class="fact-item">fact 4</div>
            </div>
        </div>
    </div>
</section>