<section class="client">
    <div class="container">
        <div class="name-section">
            <div class="description-section"><p class="paragraph">What clients think about me</p></div>
            <div class="heading-section"><h1 class="heading1">Clients Say</h1></div>
            <div class="border-section"></div>
        </div>
        <div class="client-list">
            <div class="client-item">client 1</div>
            <div class="client-item">client 2</div>
        </div>
    </div>
</section>