<section class="client">
    <div class="container">
        <div class="title-section">
            <div class="title-section__description"><p>What clients think about me</p></div>
            <div class="title-section__heading"><h1>Clients Say</h1></div>
            <div class="title-section__border"></div>
        </div>
        <div class="client-list">
            <div class="client-item">client 1</div>
            <div class="client-item">client 2</div>
        </div>
    </div>
</section>