<section class="about">
    <div class="container">
        <div class="name-section">
            <div class="description"><p>Who I Am</p></div>
            <div class="heading-1"><h1>About</h1></div>
            <div class="borderblock"></div>
        </div>
        <div class="info-person">
            <div class="info-person-img">info-person-img</div>
            <div class="info-person-txt">
                <div class="info-person-description">info-person-description</div>
                <div class="info-person-short">info-person-short</div>
                <div class="info-person-button">info-person-button</div>
            </div>
        </div>
        <div class="timeline-list">
            <div class="timeline-item">
                <div class="heading-2"><h2>Education</h2></div>
                <div class="timeline">education-timeline</div>
            </div>
            <div class="timeline-item">
                <div class="heading-2"><h2>Experience</h2></div>
                <div class="timeline">experience-timeline</div>
            </div>
        </div>
        <div class="circular-chart">
            <div class="heading-2"><h2>Coding Skills</h2></div>
            <div class="circular-chart-list">
                <div class="circular-chart-item">circular 1</div>
                <div class="circular-chart-item">circular 2</div>
                <div class="circular-chart-item">circular 3</div>
                <div class="circular-chart-item">circular 4</div>
            </div>
        </div>
        <div class="circular-chart">
            <div class="heading-2"><h2>Design Skills</h2></div>
            <div class="circular-chart-list">
                <div class="circular-chart-item">circular 1</div>
                <div class="circular-chart-item">circular 2</div>
                <div class="circular-chart-item">circular 3</div>
                <div class="circular-chart-item">circular 4</div>
            </div>
        </div>
        <div class="progress-chart">
            <div class="heading-2"><h2>Language Skills</h2></div>
            <div class="progress-chart-list">
                <div class="progress-chart-item">progress 1</div>
                <div class="progress-chart-item">progress 2</div>
                <div class="progress-chart-item">progress 3</div>
            </div>
        </div>
        <div class="certificate">
            <div class="heading-2"><h2>Certificates</h2></div>
            <div class="certificate-list">
                <div class="certificate-item">certificate 1</div>
                <div class="certificate-item">certificate 2</div>
            </div>
        </div>
        <div class="fact">
            <div class="heading-2"><h2>Fun Facts</h2></div>
            <div class="fact-list">
                <div class="fact-item">fact 1</div>
                <div class="fact-item">fact 2</div>
                <div class="fact-item">fact 3</div>
                <div class="fact-item">fact 4</div>
            </div>
        </div>
    </div>
</section>