<section class="service">
    <div class="container">
        <div class="title-section">
            <div class="description"><p>Offer To My Clients</p></div>
            <div class="heading1 background-heading-js"><h1>Services</h1></div>
            <div class="borderbox border-heading-js"></div>
        </div>
        <div class="type-service">
            <div class="heading-2"><h2>Types of Services</h2></div>
            <div class="type-service-list">
                <div class="type-service-item">service 1</div>
                <div class="type-service-item">service 2</div>
                <div class="type-service-item">service 3</div>
                <div class="type-service-item">service 4</div>
                <div class="type-service-item">service 5</div>
                <div class="type-service-item">service 6</div>
            </div>
            <div class="pricing">
                <div class="heading-2"><h2>Plans & Pricing</h2></div>
                <div class="pricing-list">
                    <div class="pricing-item">plan 1</div>
                    <div class="pricing-item">plan 2</div>
                    <div class="pricing-item">plan 3</div>
                </div>
            </div>
        </div>
    </div>
</section>