<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-section">
                    <div class="title-section__description"><p>Send me a message</p></div>
                    <div class="title-section__heading"><h1>Contact</h1></div>
                    <div class="title-section__border"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="subtitle"><h2>Map</h2></div>
                map
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="message">
                    <div class="subtitle"><h2>Message Me</h2></div>
                    <div class="message__form">
                        <form action="#">
                            <ul class="message__list">
                                <li><input type="text" name="name" placeholder="Name"></li>
                                <li><input type="text" name="email" placeholder="Email"></li>
                                <li><input type="text" name="subject" placeholder="Subject"></li>
                                <li><textarea name="text" rows="10" placeholder="Message"></textarea></li>
                                <li><input type="submit" value="Send Message" class="btn-full"></li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="contact-info">
                    <div class="subtitle"><h2>Contact Information</h2></div>
                    <div class="contact-info__description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, odit?</p>
                    </div>
                    <div class="contact-info__list">
                        <ul>
                            <li class="contact-info__item">
                                <div class="contact-info__icon"><i class="fa fa-skype fa-fw" aria-hidden="false"></i></div>
                                <div class="contact-info__type">
                                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, sequi.</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, sed.</p>
                                </div>
                            </li>
                            <li class="contact-info__item">
                                <div class="contact-info__icon"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i>
                                </div>
                                <div class="contact-info__type">
                                    <h3>Location</h3>
                                    <p>Morticia Addams</p>
                                </div>
                            </li>
                            <li class="contact-info__item">
                                <div class="contact-info__icon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></div>
                                <div class="contact-info__type">
                                    <h3>Phone</h3>
                                    <p>Morticia Addams</p>
                                </div>
                            </li>
                            <li class="contact-info__item">
                                <div class="contact-info__icon"><i class="fa fa-mobile fa-fw" aria-hidden="true"></i></div>
                                <div class="contact-info__type">
                                    <h3>Email</h3>
                                    <p>Morticia Addams</p>
                                </div>
                            </li>
                            <li class="contact-info__item">
                                <div class="contact-info__icon"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>
                                </div>
                                <div class="contact-info__type">
                                    <h3>Skype</h3>
                                    <p>Morticia Addams</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>