<section class="review">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-section title-section--indent">
                    <div class="title-section__description"><p>What clients think about me</p></div>
                    <div class="title-section__heading"><h1>Clients Say</h1></div>
                    <div class="title-section__border"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel">
                    <div class="owl-carousel__item" data-dot="<button></button>">
                        <div class="client">
                            <div class="client__wrapper">
                                <div class="client__photo">
                                    <img src="assets/images/client-01.png" alt="John Doe">
                                </div>
                                <div class="client__info">
                                    <div class="client__title">
                                        <div class="client__name">
                                            <h3>John Doe</h3>
                                            <small>CEO Management</small>
                                        </div>
                                        <div class="client__icon"><img src="assets/images/icon_quotes.svg"></div>
                                    </div>
                                    <div class="client__txt"><p>Sed mi a volutpat non. Nibh interdum nisl pellentesque sem
                                        luctus at. Nisl orci mus viverra id sollicitudin at et, eget dictum. Integer convallis
                                        sed faucibus odio at neque cursus.</p>
                                    </div>
                                </div>
                                <div class="client__star">
                                    <ul>
                                        <li><img src="assets/images/star.svg"></li>
                                        <li><img src="assets/images/star.svg"></li>
                                        <li><img src="assets/images/star.svg"></li>
                                        <li><img src="assets/images/star-empty.svg"></li>
                                        <li><img src="assets/images/star-empty.svg"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-carousel__item" data-dot="<button></button>">
                        <div class="client">
                            <div class="client__wrapper">
                                <div class="client__photo">
                                    <img src="assets/images/client-01.png" alt="John Doe">
                                </div>
                                <div class="client__info">
                                    <div class="client__title">
                                        <div class="client__name">
                                            <h3>John Doe</h3>
                                            <small>CEO Management</small>
                                        </div>
                                        <div class="client__icon"><img src="assets/images/icon_quotes.svg"></div>
                                    </div>
                                    <div class="client__txt"><p>Sed mi a volutpat non. Nibh interdum nisl pellentesque sem
                                        luctus at. Nisl orci mus viverra id sollicitudin at et, eget dictum. Integer convallis
                                        sed faucibus odio at neque cursus.</p>
                                    </div>
                                </div>
                                <div class="client__star">
                                    <ul>
                                        <li><img src="assets/images/star.svg"></li>
                                        <li><img src="assets/images/star.svg"></li>
                                        <li><img src="assets/images/star.svg"></li>
                                        <li><img src="assets/images/star-empty.svg"></li>
                                        <li><img src="assets/images/star-empty.svg"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-carousel__item" data-dot="<button></button>">
                        <div class="client">
                            <div class="client__wrapper">
                                <div class="client__photo">
                                    <img src="assets/images/client-01.png" alt="John Doe">
                                </div>
                                <div class="client__info">
                                    <div class="client__title">
                                        <div class="client__name">
                                            <h3>John Doe</h3>
                                            <small>CEO Management</small>
                                        </div>
                                        <div class="client__icon"><img src="assets/images/icon_quotes.svg"></div>
                                    </div>
                                    <div class="client__txt"><p>Sed mi a volutpat non. Nibh interdum nisl pellentesque sem
                                        luctus at. Nisl orci mus viverra id sollicitudin at et, eget dictum. Integer convallis
                                        sed faucibus odio at neque cursus.</p>
                                    </div>
                                </div>
                                <div class="client__star">
                                    <ul>
                                        <li><img src="assets/images/star.svg"></li>
                                        <li><img src="assets/images/star.svg"></li>
                                        <li><img src="assets/images/star.svg"></li>
                                        <li><img src="assets/images/star-empty.svg"></li>
                                        <li><img src="assets/images/star-empty.svg"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>