<section class="portfolio">
    <div class="container">
        <div class="title-section">
            <div class="description"><p>My Best works</p></div>
            <div class="heading1 background-heading-js"><h1>Portfolio</h1></div>
            <div class="borderbox border-heading-js"></div>
        </div>
        <div class="art-tab">
            <ul class="art-tab-list">
                <li class="art-tab-item"><a href="#" class="linkname">All</a></li>
                <li class="art-tab-item"><a href="#" class="linkname">Sketch</a></li>
                <li class="art-tab-item"><a href="#" class="linkname">Graphic</a></li>
                <li class="art-tab-item"><a href="#" class="linkname">UI Elements</a></li>
                <li class="art-tab-item"><a href="#" class="linkname">Web Design</a></li>
            </ul>
        </div>
        <div class="art-list">
            <div class="art-item">art 1</div>
            <div class="art-item">art 2</div>
            <div class="art-item">art 3</div>
            <div class="art-item">art 4</div>
            <div class="art-item">art 5</div>
            <div class="art-item">art 6</div>
            <div class="art-item">art 7</div>
            <div class="art-item">art 8</div>
            <div class="art-item">art 9</div>
        </div>
        <div class="art-btn">
            <button>Show More</button>
        </div>
    </div>
</section>