<section class="service">
    <div class="container">
        <div class="title-section">
            <div class="title-section__description"><p>Offer To My Clients</p></div>
            <div class="title-section__heading"><h1>Services</h1></div>
            <div class="title-section__border"></div>
        </div>
        <div class="info-section">
            <div class="type-service">
                <div class="type-service__heading"><h2>Types of Services</h2></div>
                <div class="type-service__list">
                    <div class="type-service__item">
                        <h3>Graphic Design</h3>
                        <p>Maecenas finibus nec sem ut imperdiet.
                            Ut tincidunt est ac dolor aliquam sed an sodales. Phasellus sed mauris hendrerit,
                            laoreet sem in, lobortis ante.</p>
                        <a href="#" class="type-service__link">Order Now <svg><use xlink:href="#arrow" /></svg></a>
                    </div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" display="none">
                <symbol id="arrow" height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                    <path d="M38.928,92.236l34.995-34.995c2.047-2.047,3.062-4.735,3.049-7.418  c0.013-2.683-1.002-5.37-3.049-7.417L38.928,7.41c-4.069-4.068-10.665-4.068-14.734,0c-4.069,4.069-4.069,10.666,0,14.734  l27.679,27.679L24.194,77.502c-4.069,4.069-4.069,10.665,0,14.734C28.263,96.305,34.859,96.305,38.928,92.236"></path>
                </symbol>
            </svg>
        </div>
        <div class="lala">
            <h3>Graphic Design</h3>
        </div>

<!--        <div class="info-section">-->
<!--            <div class="pricing">-->
<!--                <div class="heading-2"><h2>Plans & Pricing</h2></div>-->
<!--                <div class="pricing-list">-->
<!--                    <div class="pricing-item">plan 1</div>-->
<!--                    <div class="pricing-item">plan 2</div>-->
<!--                    <div class="pricing-item">plan 3</div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


    </div>
</section>