<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading-blk">
                    <div class="heading-blk__desc fnt-3"><p>Send me a message</p></div>
                    <div class="heading-blk__name fnt-heading-1"><h1>Contact</h1></div>
                    <div class="heading-blk__border"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="map">map</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="fnt-heading-2 pos-heading-2"><h2>Message Me</h2></div>
                <div class="message fnt">
                    <form action="#">
                        <div>
                            <input type="text" name="name" placeholder="Name">
                        </div>
                        <div>
                            <input type="text" name="email" placeholder="Email">
                        </div>
                        <div>
                            <input type="text" name="subject" placeholder="Subject">
                        </div>
                        <div>
                            <textarea name="text" rows="10" placeholder="Message"></textarea>
                        </div>
                        <div>
                            <input type="submit" value="Send Message" class="btn-full">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1 col-12">
                <div class="fnt-heading-2 pos-heading-2"><h2>Contact Information</h2></div>
                <div class="contact-text fnt">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, odit?</p>
                </div>
                <div class="contact-list">
                    <div class="contact-item">
                        <div class="contact-item__icon"><i class="fa fa-skype fa-fw" aria-hidden="false"></i></div>
                        <div class="contact-item__info fnt-heading-3 fnt">
                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, sequi.</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, sed.</p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <div class="contact-item__icon"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i></div>
                        <div class="contact-item__info fnt-heading-3 fnt">
                            <h3>Location</h3>
                            <p>Morticia Addams</p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <div class="contact-item__icon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></div>
                        <div class="contact-item__info fnt-heading-3 fnt">
                            <h3>Phone</h3>
                            <p>Morticia Addams</p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <div class="contact-item__icon"><i class="fa fa-mobile fa-fw" aria-hidden="true"></i></div>
                        <div class="contact-item__info fnt-heading-3 fnt">
                            <h3>Email</h3>
                            <p>Morticia Addams</p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <div class="contact-item__icon"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i></div>
                        <div class="contact-item__info fnt-heading-3 fnt">
                            <h3>Skype</h3>
                            <p>Morticia Addams</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>