<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-bottom">
                    <div class="footer-bottom__copyright fnt-semibold"><span>© 2020 Nuno</span></div>
                    <div class="footer-bottom__social">
                        <div><a href="#" target="_blank"><img src="assets/images/soc-facebook.svg" alt="facebook"></a></div>
                        <div><a href="#" target="_blank"><img src="assets/images/soc-instagram.svg" alt="facebook"></a></div>
                        <div><a href="#" target="_blank"><img src="assets/images/soc-twitter.svg" alt="facebook"></a></div>
                        <div><a href="#" target="_blank"><img src="assets/images/soc-behance.svg" alt="facebook"></a></div>
                        <div><a href="#" target="_blank"><img src="assets/images/soc-dribbble.svg" alt="facebook"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>