<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-blk">
                    <div class="title-blk__description text"><p>Who I Am</p></div>
                    <div class="title-blk__txt title" id="titleTxt"><h1>About</h1></div>
                    <div class="title-blk__border" id="titleBord"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                    <img class="img-ab" src="assets/images/girl-2.png">
            </div>
            <div class="col-lg-7">
                <div class="intro-ab">
                    <div class="title-sub"><h2>I’m Morticia Addams</h2></div>
                    <div class="text"><p>Innovative Front End Developer with 5 years experience building and
                        maintaining responsive websites
                        in the recruiting industry. Proficient in HTML, CSS, JavaScript; plus modern libraries and
                        frameworks.
                        Passionate about usability and possess working knowledge of Adobe Photoshop.</p>
                    </div>
                </div>
                <div class="info-ab">
                    <ul>
                        <li><span>Birthday:</span>August 1990</li>
                        <li><span>Age:</span>30</li>
                        <li><span>Address:</span>Philadelphia, USA</li>
                        <li><span>Email:</span>addams@gmail.com</li>
                    </ul>
                    <ul>
                        <li><span>Phone:</span>+113-804-9098</li>
                        <li><span>Skype:</span>addams</li>
                        <li><span>Website:</span>www.addams.com</li>
                        <li><span>Freelance:</span>Available</li>
                    </ul>
                </div>
                <div class="button-ab">
                    <button>Download CV</button>
                    <button>Send Message</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="title-sub-section">Education & Experience</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="timeline">
                    <div class="timeline__item">
                        <div class="timeline__date">2009</div>
                        <div class="timeline__location">University of Studies</div>
                        <div class="timeline__post">UI Design</div>
                        <div class="timeline__description">Duis posuere, quam non imperdiet egestas, eros enim mattis
                            mauris,
                            in posuere lacus arcu quis felis. Etiam interdum erat non enim
                            venenatis fermentum.
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="timeline">
                    <div class="timeline__item">
                        <div class="timeline__date">2016 - Current</div>
                        <div class="timeline__location">Rolling Thunder</div>
                        <div class="timeline__post">Lead UI/UX Designer</div>
                        <div class="timeline__description">Hendrerit laoreet integer phasellus neque nunc egestas vel
                            tempor,
                            proin. Venenatis, urna, vel fringilla nulla. Etiam dolor sed lobortis enim purus id congue
                            gravida
                            ornare. Amet nunc, integer quam nunc.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="title-sub">Coding Skills</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="skill-circles"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="title-sub">Design Skills</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="skill-circles"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="title-sub">Language Skills</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="skill-lines"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="title-sub">Certificates</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="cert"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="title-sub">Fun Facts</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="fun"></div>
            </div>
        </div>
    </div>
</section>