<section class="service">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="heading-blk">
                    <div class="heading-blk__desc fnt-3"><p>Offer To My Clients</p></div>
                    <div class="heading-blk__name fnt-heading-1"><h1>Services</h1></div>
                    <div class="heading-blk__border"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="fnt-heading-2 pos-hdg"><h2>Types of Services</h2></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="type-service-all">
                    <div class="type-service fnt-heading-3 fnt fnt-link">
                        <h3>Graphic Design</h3>
                        <p>Maecenas finibus nec sem ut imperdiet.
                            Ut tincidunt est ac dolor aliquam sed an sodales. Phasellus sed mauris hendrerit,
                            laoreet sem in, lobortis ante.</p>
                        <a href="#" class="type-service__order">Order Now</a>
                    </div>
                    <div class="type-service fnt-heading-3 fnt fnt-link">
                        <h3>Graphic Design</h3>
                        <p>Maecenas finibus nec sem ut imperdiet.
                            Ut tincidunt est ac dolor aliquam sed an sodales. Phasellus sed mauris hendrerit,
                            laoreet sem in, lobortis ante.</p>
                        <a href="#" class="type-service__order">Order Now</a>
                    </div>
                    <div class="type-service fnt-heading-3 fnt fnt-link">
                        <h3>Graphic Design</h3>
                        <p>Maecenas finibus nec sem ut imperdiet.
                            Ut tincidunt est ac dolor aliquam sed an sodales. Phasellus sed mauris hendrerit,
                            laoreet sem in, lobortis ante.</p>
                        <a href="#" class="type-service__order">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>