<section class="service">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="heading-blk">
                    <div class="heading-blk__desc fnt-3"><p>Offer To My Clients</p></div>
                    <div class="heading-blk__name fnt-heading-1"><h1>Services</h1></div>
                    <div class="heading-blk__border"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="fnt-heading-2 pos-hdg"><h2>Types of Services</h2></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="type-service-all">
                    <div class="type-service fnt-heading-3 fnt fnt-link-2">
                        <h3>Graphic Design</h3>
                        <p>Maecenas finibus nec sem ut imperdiet.
                            Ut tincidunt est ac dolor aliquam sed an sodales. Phasellus sed mauris hendrerit,
                            laoreet sem in, lobortis ante.</p>
                        <a href="#" class="type-service__order">Order Now <svg><use xlink:href="#arrow" /></svg></a>
                    </div>
                    <div class="type-service fnt-heading-3 fnt fnt-link-2">
                        <h3>Graphic Design</h3>
                        <p>Maecenas finibus nec sem ut imperdiet.
                            Ut tincidunt est ac dolor aliquam sed an sodales. Phasellus sed mauris hendrerit,
                            laoreet sem in, lobortis ante.</p>
                        <a href="#" class="type-service__order">Order Now <svg><use xlink:href="#arrow" /></svg></a>
                    </div>
                    <div class="type-service fnt-heading-3 fnt fnt-link-2">
                        <h3>Graphic Design</h3>
                        <p>Maecenas finibus nec sem ut imperdiet.
                            Ut tincidunt est ac dolor aliquam sed an sodales. Phasellus sed mauris hendrerit,
                            laoreet sem in, lobortis ante.</p>
                        <a href="#" class="type-service__order">Order Now <svg><use xlink:href="#arrow" /></svg></a>
                    </div>
                    <div class="type-service fnt-heading-3 fnt fnt-link-2">
                        <h3>Graphic Design</h3>
                        <p>Maecenas finibus nec sem ut imperdiet.
                            Ut tincidunt est ac dolor aliquam sed an sodales. Phasellus sed mauris hendrerit,
                            laoreet sem in, lobortis ante.</p>
                        <a href="#" class="type-service__order">Order Now <svg><use xlink:href="#arrow" /></svg></a>
                    </div>
                    <div class="type-service fnt-heading-3 fnt fnt-link-2">
                        <h3>Graphic Design</h3>
                        <p>Maecenas finibus nec sem ut imperdiet.
                            Ut tincidunt est ac dolor aliquam sed an sodales. Phasellus sed mauris hendrerit,
                            laoreet sem in, lobortis ante.</p>
                        <a href="#" class="type-service__order">Order Now <svg><use xlink:href="#arrow" /></svg></a>
                    </div>
                    <div class="type-service fnt-heading-3 fnt fnt-link-2">
                        <h3>Graphic Design</h3>
                        <p>Maecenas finibus nec sem ut imperdiet.
                            Ut tincidunt est ac dolor aliquam sed an sodales. Phasellus sed mauris hendrerit,
                            laoreet sem in, lobortis ante.</p>
                        <a href="#" class="type-service__order">Order Now <svg><use xlink:href="#arrow" /></svg></a>
                    </div>
                </div>
            </div>
            <svg display="none">
                <symbol id="arrow" height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                    <path d="M38.928,92.236l34.995-34.995c2.047-2.047,3.062-4.735,3.049-7.418  c0.013-2.683-1.002-5.37-3.049-7.417L38.928,7.41c-4.069-4.068-10.665-4.068-14.734,0c-4.069,4.069-4.069,10.666,0,14.734  l27.679,27.679L24.194,77.502c-4.069,4.069-4.069,10.665,0,14.734C28.263,96.305,34.859,96.305,38.928,92.236"></path>
                </symbol>
            </svg>
        </div>
    </div>
</section>