<section class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="heading-blk">
                    <div class="heading-blk__desc fnt-3"><p>My Best works</p></div>
                    <div class="heading-blk__name fnt-heading-1"><h1>Portfolio</h1></div>
                    <div class="heading-blk__border"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="art-filter fnt-nav">
                    <ul>
                        <li><a href="#">All</a></li>
                        <li><a href="#">Sketch</a></li>
                        <li><a href="#">Graphic</a></li>
                        <li><a href="#">Ui Elements</a></li>
                        <li><a href="#">Web Design</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="art-all">
                    <div class="art">
                        <a href="#">
                            <svg viewBox="0 0 350 240" xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <mask id="m01">
                                        <clipPath id="c01">
                                            <rect x="0" y="0" width="100%" height="100%" rx="10"/>
                                        </clipPath>
                                        <rect fill="#373737" x="0" y="0" width="350" height="240" rx="10"></rect>
                                        <circle class="art__mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>
                                    </mask>
                                </defs>
                                <rect class="art__hover-bg" x="0" y="0" width="350" height="240" rx="10"/>
                                <image mask="url(#m01)" clip-path="url(#c01)" xmlns:xlink="http://www.w3.org/1999/xlink"
                                       xlink:href="assets/images/00101.png"/>
                            </svg>
                            <div class="art__title fnt-heading-4b"><h4>Title Project</h4></div>
                        </a>
                    </div>
                    <div class="art">
                        <a href="#">
                            <svg viewBox="0 0 350 240" xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <clipPath id="c02">
                                        <rect x="0" y="0" width="100%" height="100%" rx="10"/>
                                    </clipPath>
                                    <mask id="m02">
                                        <rect fill="#373737" x="0" y="0" width="350" height="240" rx="10"></rect>
                                        <circle class="art__mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>
                                    </mask>
                                </defs>
                                <rect class="art__hover-bg" x="0" y="0" width="350" height="240" rx="10"/>
                                <image mask="url(#m02)" clip-path="url(#c02)" xmlns:xlink="http://www.w3.org/1999/xlink"
                                       xlink:href="assets/images/00102.png"/>
                            </svg>
                            <div class="art__title fnt-heading-4b"><h4>Title Project</h4></div>
                        </a>
                    </div>
                    <div class="art">
                        <a href="#">
                            <svg viewBox="0 0 350 240" xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <clipPath id="c03">
                                        <rect x="0" y="0" width="100%" height="100%" rx="10"/>
                                    </clipPath>
                                    <mask id="m03">
                                        <rect fill="#373737" x="0" y="0" width="350" height="240" rx="10"></rect>
                                        <circle class="art__mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>
                                    </mask>
                                </defs>
                                <rect class="art__hover-bg" x="0" y="0" width="350" height="240" rx="10"/>
                                <image mask="url(#m03)" clip-path="url(#c03)" xmlns:xlink="http://www.w3.org/1999/xlink"
                                       xlink:href="assets/images/00103.png"/>
                            </svg>
                            <div class="art__title fnt-heading-4b"><h4>Title Project</h4></div>
                        </a>
                    </div>
                    <div class="art">
                        <a href="#">
                            <svg viewBox="0 0 350 240" xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <clipPath id="c04">
                                        <rect x="0" y="0" width="100%" height="100%" rx="10"/>
                                    </clipPath>
                                    <mask id="m04">
                                        <rect fill="#373737" x="0" y="0" width="350" height="240" rx="10"></rect>
                                        <circle class="art__mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>
                                    </mask>
                                </defs>
                                <rect class="art__hover-bg" x="0" y="0" width="350" height="240" rx="10"/>
                                <image mask="url(#m04)" clip-path="url(#c04)" xmlns:xlink="http://www.w3.org/1999/xlink"
                                       xlink:href="assets/images/00104.png"/>
                            </svg>
                            <div class="art__title fnt-heading-4b"><h4>Title Project</h4></div>
                        </a>
                    </div>
                    <div class="art">
                        <a href="#">
                            <svg viewBox="0 0 350 240" xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <clipPath id="c05">
                                        <rect x="0" y="0" width="100%" height="100%" rx="10"/>
                                    </clipPath>
                                    <mask id="m05">
                                        <rect fill="#373737" x="0" y="0" width="350" height="240" rx="10"></rect>
                                        <circle class="art__mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>
                                    </mask>
                                </defs>
                                <rect class="art__hover-bg" x="0" y="0" width="350" height="240" rx="10"/>
                                <image mask="url(#m05)" clip-path="url(#c05)" xmlns:xlink="http://www.w3.org/1999/xlink"
                                       xlink:href="assets/images/00105.png"/>
                            </svg>
                            <div class="art__title fnt-heading-4b"><h4>Title Project</h4></div>
                        </a>
                    </div>
                    <div class="art">
                        <a href="#">
                            <svg viewBox="0 0 350 240" xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <clipPath id="c06">
                                        <rect x="0" y="0" width="100%" height="100%" rx="10"/>
                                    </clipPath>
                                    <mask id="m06">
                                        <rect fill="#373737" x="0" y="0" width="350" height="240" rx="10"></rect>
                                        <circle class="art__mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>
                                    </mask>
                                </defs>
                                <rect class="art__hover-bg" x="0" y="0" width="350" height="240" rx="10"/>
                                <image mask="url(#m06)" clip-path="url(#c06)" xmlns:xlink="http://www.w3.org/1999/xlink"
                                       xlink:href="assets/images/00106.png"/>
                            </svg>
                            <div class="art__title fnt-heading-4b"><h4>Title Project</h4></div>
                        </a>
                    </div>
                    <div class="art">
                        <a href="#">
                            <svg viewBox="0 0 350 240" xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <clipPath id="c07">
                                        <rect x="0" y="0" width="100%" height="100%" rx="10"/>
                                    </clipPath>
                                    <mask id="m07">
                                        <rect fill="#373737" x="0" y="0" width="350" height="240" rx="10"></rect>
                                        <circle class="art__mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>
                                    </mask>
                                </defs>
                                <rect class="art__hover-bg" x="0" y="0" width="350" height="240" rx="10"/>
                                <image mask="url(#m07)" clip-path="url(#c07)" xmlns:xlink="http://www.w3.org/1999/xlink"
                                       xlink:href="assets/images/00107.png"/>
                            </svg>
                            <div class="art__title fnt-heading-4b"><h4>Title Project</h4></div>
                        </a>
                    </div>
                    <div class="art">
                        <a href="#">
                            <svg viewBox="0 0 350 240" xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <clipPath id="c08">
                                        <rect x="0" y="0" width="100%" height="100%" rx="10"/>
                                    </clipPath>
                                    <mask id="m08">
                                        <rect fill="#373737" x="0" y="0" width="350" height="240" rx="10"></rect>
                                        <circle class="art__mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>
                                    </mask>
                                </defs>
                                <rect class="art__hover-bg" x="0" y="0" width="350" height="240" rx="10"/>
                                <image mask="url(#m08)" clip-path="url(#c08)" xmlns:xlink="http://www.w3.org/1999/xlink"
                                       xlink:href="assets/images/00108.png"/>
                            </svg>
                            <div class="art__title fnt-heading-4b"><h4>Title Project</h4></div>
                        </a>
                    </div>
                    <div class="art">
                        <a href="#">
                            <svg viewBox="0 0 350 240" xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <clipPath id="c09">
                                        <rect x="0" y="0" width="100%" height="100%" rx="10"/>
                                    </clipPath>
                                    <mask id="m09">
                                        <rect fill="#373737" x="0" y="0" width="350" height="240" rx="10"></rect>
                                        <circle class="art__mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>
                                    </mask>
                                </defs>
                                <rect class="art__hover-bg" x="0" y="0" width="350" height="240" rx="10"/>
                                <image mask="url(#m09)" clip-path="url(#c09)" xmlns:xlink="http://www.w3.org/1999/xlink"
                                       xlink:href="assets/images/00109.png"/>
                            </svg>
                            <div class="art__title fnt-heading-4b"><h4>Title Project</h4></div>
                        </a>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" display="none">
                        <defs>
                            <mask id="mask-art">
                                <rect fill="#BABBBB" x="0" y="0" width="350" height="240" rx="10"></rect>
                                <circle id="mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>
                            </mask>
                        </defs>
                    </svg>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>test</p>
            </div>
        </div>
    </div>
</section>