<section class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="heading-blk">
                    <div class="heading-blk__desc fnt-3"><p>My Best works</p></div>
                    <div class="heading-blk__name fnt-heading-1"><h1>Portfolio</h1></div>
                    <div class="heading-blk__border"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="art-filter fnt-nav">
                    <ul>
                        <li><a href="#">All</a></li>
                        <li><a href="#">Sketch</a></li>
                        <li><a href="#">Graphic</a></li>
                        <li><a href="#">Ui Elements</a></li>
                        <li><a href="#">Web Design</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="art-all">
                    <div class="art">
                        <a href="#" >
                            <svg viewBox="0 0 350 240" onmouseover="lala()" xmlns="http://www.w3.org/2000/svg">
                                <rect class="art__rect" x="0" y="0" width="350" height="240" rx="10"/>
                                <image mask="url(#mask-art)" xmlns:xlink="http://www.w3.org/1999/xlink"
                                       xlink:href="assets/images/00101.png"/>
                            </svg>
                        </a>
                    </div>
                    <!--                    <div class="art">-->
                    <!--                        <a href="#"> <img src="assets/images/00102.png"></a>-->
                    <!--                    </div>-->
                    <!--                    <div class="art">-->
                    <!--                        <a href="#"> <img src="assets/images/00103.png"></a>-->
                    <!--                    </div>-->
                    <!--                    <div class="art">-->
                    <!--                        <a href="#"> <img src="assets/images/00104.png"></a>-->
                    <!--                    </div>-->
                    <!--                    <div class="art">-->
                    <!--                        <a href="#"><img src="assets/images/00105.png"></a>-->
                    <!--                    </div>-->
                    <!--                    <div class="art">-->
                    <!--                        <a href="#"><img src="assets/images/00106.png"></a>-->
                    <!--                    </div>-->
                    <!--                    <div class="art">-->
                    <!--                        <a href="#"><img src="assets/images/00107.png"></a>-->
                    <!--                    </div>-->
                    <!--                    <div class="art">-->
                    <!--                        <a href="#"><img src="assets/images/00108.png"></a>-->
                    <!--                    </div>-->
                    <!--                    <div class="art">-->
                    <!--                        <a href="#"><img src="assets/images/00109.png"></a>-->
                    <!--                    </div>-->
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <mask id="mask-art">
                                <rect fill="#BABBBB" x="0" y="0" width="350" height="240" rx="10"></rect>
                                <circle id="mask-circle" fill="#FFFFFF" cx="175" cy="120" r="220"/>
                            </mask>
                        </defs>
                    </svg>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>test</p>
            </div>
        </div>
    </div>
</section>