<section class="client">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading-blk">
                    <div class="heading-blk__desc fnt-3"><p>What clients think about me</p></div>
                    <div class="heading-blk__name fnt-heading-1"><h1>Clients Say</h1></div>
                    <div class="heading-blk__border"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="person-all">
                    <div class="person">
                        <div class="person__photo">
                            <img src="assets/images/person-01.png" alt="John Doe">
                        </div>
                        <div class="person__info">
                            <div class="person__title">
                                <div class="person__name fnt-heading-3 fnt-small">
                                    <h3>John Doe</h3>
                                    <small>CEO Management</small>
                                </div>
                                <div class="person__icon"><img src="assets/images/icon_quotes.svg"></div>
                            </div>

                            <div class="person__txt fnt"><p>Sed mi a volutpat non. Nibh interdum nisl pellentesque sem luctus
                                at. Nisl orci mus viverra id sollicitudin at et, eget dictum. Integer convallis sed
                                faucibus odio at neque cursus.</p>
                            </div>
                            <div class="person__star">
                                <div class="person__item">
                                    <div><img src="assets/images/star.svg"></div>
                                    <div><img src="assets/images/star.svg"></div>
                                    <div><img src="assets/images/star.svg"></div>
                                    <div><img src="assets/images/star-empty.svg"></div>
                                    <div><img src="assets/images/star-empty.svg"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="person">
                        <div class="person__photo">
                            <img src="assets/images/person-01.png" alt="John Doe">
                        </div>
                        <div class="person__info">
                            <div class="person__title">
                                <div class="person__name fnt-heading-3 fnt-small">
                                    <h3>John Doe</h3>
                                    <small>CEO Management</small>
                                </div>
                                <div class="person__icon"><img src="assets/images/icon_quotes.svg"></div>
                            </div>

                            <div class="person__txt fnt"><p>Sed mi a volutpat non. Nibh interdum nisl pellentesque sem luctus
                                at. Nisl orci mus viverra id sollicitudin at et, eget dictum. Integer convallis sed
                                faucibus odio at neque cursus.</p>
                            </div>
                            <div class="person__star">
                                <div class="person__item">
                                    <div><img src="assets/images/star.svg"></div>
                                    <div><img src="assets/images/star.svg"></div>
                                    <div><img src="assets/images/star.svg"></div>
                                    <div><img src="assets/images/star-empty.svg"></div>
                                    <div><img src="assets/images/star-empty.svg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>