<section class="blog">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading-blk">
                    <div class="heading-blk__desc fnt-3"><p>My Blog</p></div>
                    <div class="heading-blk__name fnt-heading-1"><h1>Blog</h1></div>
                    <div class="heading-blk__border"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="post-all">
                    <div class="post">
                        <a href="#" class="post__link-img"><img src="assets/images/00108.png" alt="Picture"></a>
                        <div class="post__info fnt-heading-3 fnt-small fnt">
                            <small>09 February, 2020</small>
                            <a href="#" class="fnt-heading-3"><h3>Blog post title</h3></a>
                            <p>Maecenas finibus nec sem ut imperdiet. Ut tincidunt est ac dolor aliqum sodales. Maecenas
                                finibus nec sem ut imperdietim ti mperdiet imperdietimperdiet imperdietimperdiet.</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="art-button">
                    <button class="btn-full">Show More</button>
                </div>
            </div>
        </div>
    </div>
</section>