<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading-blk">
                    <div class="heading-blk__desc fnt-3"><p>Send me a message</p></div>
                    <div class="heading-blk__name fnt-heading-1"><h1>Contact</h1></div>
                    <div class="heading-blk__border"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="map">map</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="fnt-heading-2 pos-heading-2"><h2>Message Me</h2></div>
                <div class="contact-form">
                    <form action="#">
                        <input type="text" name="name" value="Name">
                        <input type="text" name="email" value="Email">
                        <input type="text" name="subject" value="Subject">
                        <textarea name="text" rows="10" >Message</textarea>
                        <input type="submit" value="Send Message" class="btn-full">
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="fnt-heading-2 pos-heading-2"><h2>Contact Information</h2></div>
            </div>
        </div>
    </div>
</section>