<header class="header header--mini">
    <div class="header__capsule">
        <div class="logo"><a href="index.html"><img src="assets/images/logo-blue.svg" alt="logo"></a></div>
        <div class="contact-top">
            <ul class="contact-top__list">
                <li><a class="contact-top__link" href="mailto:addams@gmail.com">addams@gmail.com</a></li>
                <li><a class="contact-top__link" href="tel:+1138049098">+113-804-9098</a></li>
            </ul>
        </div>
    </div>
</header>