<section class="base" id="base">
    <div class="base__capsule">
        <div class="composition" id="composition">
            <div class="composition__capsule" id="compositionCapsule">
                <div class="circle" id="circle">
                    <svg viewBox="0 0 920 920" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g filter="url(#filter0_f)">
                            <circle id="circleLargeBlack" cx="460" cy="460" r="420" fill="black" fill-opacity="0.25"/>
                        </g>
                        <circle id="circleLargeWhite" cx="460" cy="460" r="420" fill="white"/>
                        <g filter="url(#filter1_f)">
                            <circle id="circleMediumBlack" cx="460" cy="460" r="320" fill="black" fill-opacity="0.25"/>
                        </g>
                        <circle id="circleMediumWhite" cx="460" cy="460" r="320" fill="white"/>
                        <g filter="url(#filter2_f)">
                            <circle id="circleSmallBlack" cx="460" cy="460" r="220" fill="black" fill-opacity="0.25"/>
                        </g>
                        <circle id="circleSmallWhite" cx="460" cy="460" r="220" fill="white"/>
                        <defs>
                            <filter id="filter0_f" x="0" y="0" width="920" height="920" filterUnits="userSpaceOnUse"
                                    color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                                <feGaussianBlur stdDeviation="20" result="effect1_foregroundBlur"/>
                            </filter>
                            <filter id="filter1_f" x="100" y="100" width="720" height="720" filterUnits="userSpaceOnUse"
                                    color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                                <feGaussianBlur stdDeviation="20" result="effect1_foregroundBlur"/>
                            </filter>
                            <filter id="filter2_f" x="200" y="200" width="520" height="520" filterUnits="userSpaceOnUse"
                                    color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                                <feGaussianBlur stdDeviation="20" result="effect1_foregroundBlur"/>
                            </filter>
                        </defs>
                    </svg>
                </div>
                <div class="person-img" id="personImg"><img src="assets/images/1020x1500.png" alt="Morticia Addams"></div>
                <div class="person-info" id="personInfo">
                    <div class="person-info__name" id="personName"><h1>Morticia Addams</h1></div>
                    <div class="person-info__profession" id="personProfession"><h2>Front End Developer & Designer</h2></div>
                    <div class="person-info__description" id="personDescription">
                        <p>Innovative Front End Developer with 5 years experience building and maintaining responsive
                            websites in the recruiting industry. Proficient in HTML, CSS, JavaScript.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-top">
            <div class="copyright"><span>© 2021 Nuno</span></div>
            <div class="social-link">
                <ul class="social-link__list">
                    <li><a class="social-link__item" href="#" target="_blank"><span class="i-soc-facebook"></span></a>
                    </li>
                    <li><a class="social-link__item" href="#" target="_blank"><span class="i-soc-instagram"></span></a>
                    </li>
                    <li><a class="social-link__item" href="#" target="_blank"><span class="i-soc-twitter"></span></a>
                    </li>
                    <li><a class="social-link__item" href="#" target="_blank"><span class="i-soc-behance"></span></a>
                    </li>
                    <li><a class="social-link__item" href="#" target="_blank"><span class="i-soc-dribbble"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>