/* ======== START - .service =========================================================================================*/

.service {
    background-color: var(--color-1);
}


.type-service-all {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}


.type-service {
    width: 350px;
    height: 220px;
    min-width: 350px;
    min-height: 220px;

    display: block;
    margin-top: 30px;
    border: solid 2px var(--color-3);
    border-radius: 10px;
    padding: 24px 30px 0 30px;

    h3 {
        display: block;
        position: relative;
        padding-left: 36px;

        &:before {
            display: inline-block;
            position: absolute;
            content: ' ';
            background-image: url('../images/icon-design.svg');
            background-size: 24px 24px;
            height: 24px;
            width: 24px;
            left: 0;
        }
    }

    p {
        margin-top: 20px;
    }

    a {
        display: inline-block;
        text-decoration: none;
    }
}


.pricing-all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}


.pricing {
    width: 350px;
    height: 596px;
    min-width: 350px;
    min-height: 596px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    border: solid 2px var(--color-3);
    border-radius: 10px;
    padding: 38px 30px 0 28px;

    .pricing__mark {
        width: 116px;
        height: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        margin: -20px -286px 0 0;
        border-bottom: 26px solid var(--color-3);
        border-left: 26px solid transparent;
        border-right: 26px solid transparent;
        z-index: 100;
        transform: rotate(45deg);

        span {
            display: block;
            margin: 3px 0 0 0;
        }
    }

    .pricing__description {
        display: inline-block;
        text-align: center;

        h2 {
            display: block;
        }

        small {
            display: block;
            margin: 14px 0 0 0;
        }
    }

    .pricing__number {
        display: flex;
        flex-direction: row;
        margin: 30px 0 0 0;
    }

    .pricing__icon {
        display: block;
        margin: 10px 0 0 0;
    }

    .pricing__list {
        display: block;
        width: 100%;
        list-style: none;
        margin: 44px 0 0 0;

        div {
            display: block;
            margin-left: 18px;

            &::before {
                width: 14px;
                height: 14px;

                display: inline-block;
                position: absolute;
                margin: 6px 0 0 -19px;
                content: ' ';
                background-image: url('../images/icon-check.svg');
            }
        }
    }

    .pricing__order {
        width: 100%;
        margin: 40px 0 0 0;

        a {
            display: inline-block;
            float: left;
            text-decoration: none;
        }
    }

    .pricing__clarification{
        margin-top: 20px;
        text-align: center;
    }
}
/* ======== END - .service ===========================================================================================*/