/* ======== START - .header-top ===================================================================================== */
.header-top {
    display: block;
    z-index: 200;
    height: 64px;
    padding: 0 60px;
    margin: 0;
    position: absolute;
    //position: fixed; // test
    //opacity: 95%; // test
    background-color: var(--color-3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .header-top__wrap {
        display: block;
        max-width: 1800px;
        margin: auto;
    }
}

@media (max-width: 1024px) {
    .header-top {
        padding: 0 30px;
    }
}

@media (max-width: 640px) {
    .header-top {
        padding: 0 10px;
    }
}

.logo {
    display: inline-block;
    margin: 28px 0 0 14px;
}

.contact-info {
    display: inline-block;
    margin-left: 190px;

    ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;

        li a {
            color: var(--color-4);
            text-decoration: none;
        }

        li:last-child {
            margin-left: 70px;
        }
    }
}

@media (max-width: 1600px) {
    .contact-info {
        display: none;
    }
}

// -------- START - .nav -----------------------------------------------------------------------------------------------
.nav {
    display: inline-block;
    float: right;
    margin: 0 14px 0 0;

    ul {
        display: flex;
        padding: 0;
        margin: 0;
        list-style-type: none;

        li a {
            height: 64px;

            display: block;
            padding: 30px 14px 0 14px;
        }
    }
}

@media (max-width: 1024px) {
    .nav {
        display: none;
    }
}
// -------- END - .nav -------------------------------------------------------------------------------------------------


// -------- START - .nav-right -----------------------------------------------------------------------------------------
.open-nav {
    float: right;
    margin: 24px 14px 0 0;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;

    svg {
        width: 32px;
        height: 32px;
        fill: var(--color-4);
    }
}

@media (min-width: 1024px) {
    .open-nav {
        display: none;
    }
}

.nav-right {
    width: 250px;
    height: 100vh;

    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    z-index: 50;
    background-color: var(--color-4);

    .nav-right__item {
        margin: 200px 0 0 50px;

        ul {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            list-style-type: none;

            li {
                margin-top: 14px;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}

.close-nav {
    float: right;
    margin: 24px 48px 0 0;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;

    svg {
        width: 32px;
        height: 32px;
        fill: var(--color-1);
    }
}
// -------- END - .nav-right -------------------------------------------------------------------------------------------
/* ======== END - .header-top ======================================================================================= */