.grid {
    height: 100%;
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-areas: "sidebar main";
}

.sidebar {
    grid-area: sidebar;
    background-color: #386FA4;
    position: fixed;
    width: 280px;
    height: 100%;
}

.main {
    margin-left: 40px;
    margin-right: 40px;
    grid-area: main;
}

.logo > h1 {
    margin: 50px 0 50px 38px;
    color: #FFFFFF;
    font-family: "Poppins Bold";
    font-size: 64px;
}

.nav__list > li {
    margin-bottom: 16px;
    list-style-type: none;
    font-family: "Poppins Light";
}

.nav__list > li > a {
    text-decoration: none;
    color: #FFFFFF;
}

.nav__list > li > a:hover {
    text-decoration: none;
    color: #133C55;
}

.header {
    margin: 0 0 80px 0;
    display: block;
}

.header h1 {
    margin: 50px 0 4px 0;
    font-family: "Poppins Bold";
    font-size: 64px;
}

.header h3 {
    margin: 0 0 50px 0;
    font-family: "Poppins Thin";
    color: #133C55;
    font-size: 34px;
}

.header hr {
    margin-bottom: 40px;
    height: 0.5px;
    background-color: #386FA4;
    border: none;
}

.section {
    margin: 0 0 60px 0;
    display: block;
}

h1, h2, h3 {
    font-family: "Poppins Bold";
    color: #386FA4;
}

h3 {
    margin: 40px 0 0 0;
}

p {
    font-family: "Poppins Light";
    color: #133C55;
}

xmp {
    margin: 20px 0 0 0;
    display: block;
    color: #133C55;
    font-size: 14px;
}

.list > li {
    margin: 0 0 6px 0;
    font-family: "Poppins Light";
    color: #133C55;
}

.list-number li {
    margin: 10px 0 6px 0;
    font-family: "Poppins Light";
    color: #133C55;
    list-style-type: none;
}

.info {
    margin: 3px 0 0 16px;
    display: block;
    font-family: "Poppins Light";
    font-size: 12px;
}

span {
    display: inline-block;
}

img {
    margin: 20px 0 0 0;
    width: 70%;
}

@font-face {
    font-family: "Poppins Bold";
    font-style: normal;
    src: url("../fonts/Poppins-Bold.ttf") format("truetype"); }

@font-face {
    font-family: "Poppins Light";
    font-style: normal;
    src: url("../fonts/Poppins-Light.ttf") format("truetype"); }

@font-face {
    font-family: "Poppins ExtraLight";
    font-style: normal;
    src: url("../fonts/Poppins-ExtraLight.ttf") format("truetype"); }

@font-face {
    font-family: "Poppins Thin";
    font-style: normal;
    src: url("../fonts/Poppins-Thin.ttf") format("truetype"); }

@font-face {
    font-family: "Poppins Medium";
    font-style: normal;
    src: url("../fonts/Poppins-Medium.ttf") format("truetype"); }

@font-face {
    font-family: "Poppins Regular";
    font-style: normal;
    src: url("../fonts/Poppins-Regular.ttf") format("truetype"); }

@font-face {
    font-family: "Poppins SemiBold";
    font-style: normal;
    src: url("../fonts/Poppins-SemiBold.ttf") format("truetype"); }

@font-face {
    font-family: "Poppins ExtraBold";
    font-style: normal;
    src: url("../fonts/Poppins-ExtraBold.ttf") format("truetype"); }